.column
  .title
    GitLab ranked leader in CI/CD by Forrester
  .description
    Learn why GitLab was evaluated as a Leader by independent research firm
  = image_tag "/images/devops-tools/forrester.png", class: "margin-top10"
  = link_to "Read more", "/analysts/forrester-cloudci19/", class: "read-more"
