---
layout: handbook-page-toc
title: "Sec & ModelOps Quality Engineering team"
description: "Quality Engineering team for the Sec & ModelOps Sections"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Common Links

| **GitLab Team Handle** | [`@gl-quality/enablement-qe`](https://gitlab.com/gl-quality/enablement-qe) |
| **Slack Channel** | [#g_qe_enablement_secure](https://gitlab.slack.com/archives/CTP7N0PM4) |
| **Team Boards** | [Team Board](https://gitlab.com/groups/gitlab-org/-/boards/978354) |
| **Issue Tracker** | [quality/team-tasks](https://gitlab.com/gitlab-org/quality/team-tasks/issues/) |

Engineers in this team are embedded in the [Sec section] and [ModelOps section].

## Team members

Quality Engineering Manager: Vincy Wilson

[Sec section]

| S.No 	| Stage        | Group                       | SET Counterpart                                                        	|
|------	|--------------|-----------------------------|------------------------------------------------------------------------	|
| 1    	| [Secure]     | [Static Analysis]           | Careem Ahamed                                                         	|
| 2    	| [Secure]     | [Dynamic Analysis]          | TBH                                                       	            |
| 3    	| [Secure]     | [Composition Analysis]      | Will Meek                                                                |
| 4    	| [Secure]     | [Threat Insights]           | Harsha Muralidhar                                                        |
| 5    	| [Secure]     | [Vulnerability Research]    | TBH                                                                   	|
| 6    	| [Anti-Abuse] | [Anti-Abuse]                | TBH                                                                    	|
| 7    	| [Protect]    | [Container Security]        | TBH                                                                    	|

[ModelOps section]

| S.No 	| Stage         	| Group                       | SET Counterpart                                                   |
|------	|-----------------|-----------------------------|---------------------------------------------------------------------|
| 1    	| [ModelOps]      | [Applied Machine Learning]  | TBH                                                                 |
| 2    	| [ModelOps]      | [MLOps]                     | TBH                                                                 |
| 3    	| [ModelOps]      | [DataOps]                   | TBH                                                                 |

## OKRs 

Every quarter, the team commits to [Objectives and Key Results (OKRs)](/company/okrs/). The below shows current and previous quarter OKRs, it updates automatically as the quarter progresses.

### Sec section

#### Current quarter

<iframe src="https://app.ally.io/public/Zf8uMaVX66K0Ete" class="dashboard-embed" height="700" width="100%" style="border:none;"> </iframe>

## Quality Performance Indicators for Sec Section

(<a href="https://app.periscopedata.com/app/gitlab/736012/Quality-Embedded-Dashboard" target="_blank">Sisense↗</a>)
<embed width="100%" height="300" src="<%= signed_periscope_url({ dashboard: 736012, embed: 'v2', filters: [{name: 'Development_Section' , value: 'sec' }]}) %>">

[Sec section]: /handbook/product/categories/#sec-section
[Secure]: /handbook/product/categories/#secure-stage
[Static Analysis]: /handbook/product/categories/#static-analysis-group
[Dynamic Analysis]: /handbook/product/categories/#dynamic-analysis-group
[Composition Analysis]: /handbook/product/categories/#composition-analysis-group
[Threat Insights]: /handbook/product/categories/#threat-insights-group
[Vulnerability Research]: /handbook/product/categories/#vulnerability-research-group
[Anti-Abuse]: /handbook/product/categories/#anti-abuse-stage
[Anti-Abuse]: /handbook/product/categories/#anti-abuse-group
[Protect]: /handbook/product/categories/#protect-stage
[Container Security]: /handbook/product/categories/#container-security-group
[ModelOps section]: /handbook/product/categories/#modelops-section
[ModelOps]: /handbook/product/categories/#modelops-group
[Applied Machine Learning]: /handbook/product/categories/#applied-machine-learning-group
[MLOps]: /handbook/product/categories/#mlops-group
[DataOps]: /handbook/product/categories/#dataops-group
