@import "~be-navigation/dist/be-navigation";

#be-nav-target,
#global-footer {
    font-family: 'Inter', sans-serif;
}

#be-nav-target {
    font-size: 16px;
}

.navigation__popover-link {
  font-size: 16px !important;
  font-family: 'Inter', sans-serif !important;
}
.v-popper__popper {
  z-index: 10000001 !important;
}

.navigation__categories .slp-color-accent-500 {
  text-transform: uppercase !important;
  font-size: 12px !important;
  line-height: 20px !important;
  letter-spacing: 1.2px !important;
  font-weight: 600 !important;
  font-family: 'Inter', sans-serif !important;
}

.navigation__login-popover {
  min-width: 233px !important;

  .slp-btn-primary {
    background-color: #171321 !important;
    border-color: #171321 !important;
    margin-top: 0px !important;
    border-radius: 4px !important;
    padding: 11px 16px !important;
    box-shadow: none !important;

    &:hover {
      background-color: #ffffff !important;
      color: #171321 !important;
      
    }
  }

  span {
    font-size: 16px !important;
    text-align: center !important;
  }
}
