= wrap_layout :markdown_page do
  .wrapper.handbook-wrapper.clearfix
    .something{ class: (current_page.data.page_class if current_page.data.page_class) }
      = yield

      - if current_role_sales?
        %h2 Compensation
        %div
          Compensation information for this role can be found on our
          %a{href: '/handbook/sales/commissions/'}Sales Commissions handbook page.
          On this page, we have an overview of the
          %a{href: '/handbook/sales/commissions/#base--variable-split-by-role'}standard OTE base and variable split
          for each Sales job family. Also listed on the page, is our
          %a{href: '/handbook/sales/commissions/#sales-rep-iacv-quota-ramp'}quota ramp information
          by segment as well as our seasonality assumptions. 
        %div
          Sales compensation plans are governed by the
          %a{href: '/handbook/finance/sales-comp-plan/'}Sales Compensation Plan terms and conditions.
          Some differences may apply. For any specific compensation questions, please contact your manager (current manager or hiring manager).

      - if role = current_role_for_salary_calculator
        %h3 Compensation Calculator
        %div
          To find out more about the compensation for this role, please
          %a{href: '/jobs/'} apply to a role
          first. Once selected for a screening call, you'll be able to sign up here to view our
          %a{href: "https://comp-calculator.gitlab.net/?role=#{role}"} compensation calculator.
          Be sure to use the same email address for both.

      :markdown
        ## About GitLab

        GitLab Inc. is a company based on the GitLab open-source project. GitLab is
        a community project to which over 2,200 people worldwide have contributed.
        We are an active participant in this community, trying to serve its needs
        and lead by example. We have one [vision](/strategy/): everyone can
        contribute to all digital content, and our mission is to change all creative
        work from read-only to read-write so that everyone can contribute.

        We [value](/handbook/values/) results, transparency, sharing, freedom,
        efficiency, [self-learning](/company/culture/all-remote/self-service/#how-self-learning-leads-to-success-in-your-role), frugality, collaboration, directness, kindness, diversity, inclusion and belonging,
        boring solutions, and quirkiness. If these values match your personality,
        work ethic, and personal goals, we encourage you to visit our
        [primer](/company/) to learn more. Open source is our culture, our way of
        life, our story, and what makes us truly unique.

      = partial "includes/reasons_to_work_for_gitlab"

      :markdown
        See [our culture page](/company/culture/) for more!

    :markdown
      Work remotely from anywhere in the world. Curious to see what that looks
      like? Check out our [remote manifesto and guides](/company/culture/all-remote/).
