{::options parse_block_html="true" /}

<div class="panel panel-info">
**Managing so Everyone Can Contribute (MECC)**
{: .panel-heading}
<div class="panel-body">

MECC is a new management philosophy to speed up company progress by creating the environment for better decisions and improved execution of them. GitLab pioneered MECC and continues to steward its development. 

The four pillars of MECC are below.

1. [Informed decisions](/handbook/mecc/informed-decisions/)
   - The key question answered is no longer, "How does the organization get information to the right people at the right time?", but rather, "How does the organization ***create a system*** where everyone can consume information (self-serve) and contribute, regardless of level or function?"
1. [Fast decisions](/handbook/mecc/fast-decisions/)
   - While other management philosophies prioritize the speed of knowledge ***transfer***, MECC optimizes for the speed of knowledge ***retrieval***.
1. [Many decisions](/handbook/mecc/many-decisions/)
   - Conventional management philosophies often strive for consensus and avoid risk instead of a [bias for action](/handbook/values/#bias-for-action), resulting in ***less frequent*** decision making. When you're operating in a MECC mindset, success is measured by the ***quantity*** of decisions made in a particular stretch of time (e.g. month, quarter) and the results that stem from faster progress.
1. [Executing on decisions](/handbook/mecc/executing-decisions/)
   - Being more informed, making faster decisions, and increasing decision making velocity is only useful if you execute. MECC empowers ***everyone*** to contribute to successful execution. It also recognizes that execution ***is not a one-time event***; rather, it is the establishing of a new baseline on which future [iterations](/handbook/values/#iteration) are applied.

</div>
</div>
