.contact-sales-container
  %h2.margin-top0 Le cycle de vie entier Devops + une application
  %p Créer, tester et déployer : tout au même endroit
  = link_to "/free-trial/", class: "btn cta-btn orange margin-top20" do
    Commencer
  = link_to "/pricing/", class: "margin-top20" do
    Nous vous invitons à essayer gratuitement toutes les fonctionnalités de GitLab pendant 30 jours.
