---
title: GitLabさんのハンドブックを有志で翻訳するサイトです
description: "成果がでる真のリモートワーク「オールリモート」を普及させるために。"
canonical_path: "/"
hreflang_value: "x-default"
hreflang_url: "https://jp-handbook-gitlab.tech4u.dev/"
suppress_header: true
disable_default_styles: true
disable_handbook_styles: true
data_identifier: Homepage
extra_css:
  - home2020.css
  - merchandising-content.css
  - bl-modal.css
  - video-carousel-v2.css
extra_js:
  - libs/slick.min.js
  - home.js
  - libs/on-scroll.js
  - all-clickable.js
  - video-carousel.js
  - stripmkttok.js
---

= partial "includes/home/hero"

