---
title: GitLab for Project Managers Training
suppress_header: true
description: "GitLab for Project Managers Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_pm" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Part 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Duration
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 45 mins
                  %td Intro to the Plan Stage
                  %td
                    %ul
                      %li How the Plan Stage fits into GitLab workflow
                      %li Review of GitLab Flow
                      %li <strong>Lab</strong>: Access the GitLab Training Environment
                %tr
                  %td 1 hr
                  %td Intro to Project Organization in GitLab
                  %td
                    %ul
                      %li Organizing Projects and Groups
                      %li Roles, Permissions, and Visibility
                      %li <strong>Lab</strong>: Create an Organizational Structure
                %tr
                  %td 1 hr
                  %td Using GitLab to Plan & Start Projects
                  %td
                    %ul
                      %li Epics
                      %li Milestones
                      %li Iterations
                      %li Roadmaps
                      %li Preview of issue boards
                      %li Documentation with Wikis
                      %li <strong>Lab</strong>: Use GitLab Planning Tools
                %tr
                  %td 1 hr
                  %td Intro to Issues
                  %td
                    %ul
                      %li Issues
                      %li Labels
                      %li Collaborating on Issues
                      %li <strong>Lab</strong>: Create Project Issues
      .col-md-12
        %h3 Part 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Duration
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hr
                  %td Deep Dive Into Issues
                  %td
                    %ul
                      %li Issue Metadata Fields
                      %li Issue Operations
                      %li Quick Actions
                      %li Description Templates
                      %li Service Desk
                      %li <strong>Lab</strong>: Organize and Perform Operations on Issues
                %tr
                  %td 45 mins
                  %td Merge Requests
                  %td
                    %ul
                      %li Merge Requests
                      %li Merge Request Metadata Fields
                      %li To-Do list
                      %li <strong>Lab</strong>: Use a Merge Request to Review and Merge Code
                %tr
                  %td 45 mins
                  %td Issue Boards
                  %td
                    %ul
                      %li Purpose of Issue Boards
                      %li Issue Board Structure
                      %li Issue Board Criteria
                      %li Issue Board Details
                      %li <strong>Lab</strong>: Create and Customize Issue Boards
                %tr
                  %td 1 hr 15 mins
                  %td Workflow Best Practices
                  %td
                    %ul
                      %li General Best Practices
                      %li Kanban
                      %li <strong>Lab</strong>: Create and Manage a Kanban board
                      %li Scrum
                      %li <strong>Lab</strong>: Create and Manage a Scrum board
                      %li Waterfall
                      %li <strong>Lab</strong>: Create and Manage a Waterfall Board

        = partial "includes/services/requirements", locals: { id: "training_sessions_pm" }
