---
title: Moving to GitLab
description: "Thousands have moved to GitLab. Will you be next?"
canonical_path: "/community/moving-to-gitlab/"
suppress_header: true
extra_css:
  - moving-to-gitlab.css
---
.blank-header
  = image_tag "/images/moving-to-gitlab/arrow-pattern-left.svg", class: "image-border image-border-left", alt: "Moving to gitlab pattern left svg"
  = image_tag "/images/moving-to-gitlab/arrow-pattern-right.svg", class: "image-border image-border-right", alt: "Moving to gitlab pattern right svg"
  .header-content
    = image_tag "/images/home/github-importer.svg", class: "github-importer", alt: "Gitlab github importer svg"
    %h1 #movingtogitlab
    %p GitLab is home to thousands of public and open source projects, built by a community of over 3,000 contributors.
    %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/user/project/import/github.html" } See our documentation
.content-container.flex-container.flex-column
  .tile
    %h2 Join the thousands of others #movingtogitlab.
    %p GitLab is a complete DevOps platform, delivered as a single application, with a simplified workflow so users can work in parallel with total visibility and zero handoff delays. It’s easy to move to GitLab: our platform has an import tool that allows developers to seamlessly move their repositories to GitLab.
  .video-container.full-width
    %h2 Step-by-step migration instructions
    %p
      Watch this video for step-by-step instructions on how to migrate from GitHub to GitLab and
      %a{ href: "https://docs.gitlab.com/ee/user/project/import/github.html", target: "_blank" } follow along with our docs.
    %iframe{ src: "https://www.youtube.com/embed/VYOXuOg9tQI", width: 560, height: 315, allow: "autoplay; encrypted-media", allowfullscreen: "allowfullscreen" }
  .tile.cta-tile.flex-container.justify-center.align-center
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "tile-logo", alt: "Gitlab logo svg"
    %p
      :markdown
        Learn more about being a part of the [GitLab community](/community/).
