---
title: GitLab Technical Certifications- Self-Paced Options
suppress_header: true
description: "GitLab Technical Certifications- Self-Paced Options"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Technical Certifications - Self-Paced Options
    %h2.headline-subtitle
      Convenient asynchronous option to validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Technical Certifications - Self-Paced Options

        %h3 Overview
        %p As of April 2021 GitLab began offering the GitLab wider community with a self-paced option to several of our popular <a href= '/learn/certifications/public/#technical-certifications-overview'> GitLab Technical Certifications</a> through the <a href= 'https://levelup.gitlab.com/'>GitLab Level Up site</a>.
 
        %h3 Interested in Async Certification? 
        %p Create an account on <a href= 'https://levelup.gitlab.com/'>GitLab Level Up</a> and select one of the available certification pathways below to get started.
        %ul
          %li <a href= 'https://levelup.gitlab.com/courses/gitlab-certified-associate'> GitLab Certified Git Associate Pathway </a>
          %li <a href= 'https://levelup.gitlab.com/courses/gitlab-ci-cd-specialist-self-paced-bundle'> GitLab Certified CI/CD Associate Pathway</a>
          %li <a href= 'https://levelup.gitlab.com/courses/gitlab-certified-project-management-specialist-bundle'> GitLab Certified Project Management Associate Pathway</a>
          %li <a href= 'https://levelup.gitlab.com/courses/gitlab-certified-security-specialist'> GitLab Certified Security Specialist Pathway</a>
          %li <a href= 'https://levelup.gitlab.com/courses/gitlab-certified-innersourcing-specialist-bundle'> GitLab Certified InnerSourcing Specialist Pathway</a>
          %li <a href= 'https://levelup.gitlab.com/courses/gitlab-certified-devops-professional-bundle'> GitLab Certified DevOps Professional Journey</a>
          
        %h3 What's Included
        %p Each certification bundle includes everything needed to complete the <a href= '/learn/certifications/public/#certification-requirements'> certification requirements:</a>
        %ul
          %li Self-Study eLearning
          %li Knowledge Exam
          %li Hands-on Exam
          %li Access to the GitLab Demo Cloud for hands-on work
          %li Project submission and grading
          %li Shareable completion badge in the GitLab Level Up site
          %li Shareable <a href='https://www.credly.com/organizations/gitlab'>Badgr</a> digital verification of certification status and date

 
        %h3 Pricing and Payment
        %p GitLab Technical Certification bundles are priced at USD $500 and includes the following components.
        %ul
          %li Self-Study certification preparation eLearning
          %li Exam Bundle: USD $500
          %li Consists of both the Knowledge Assessment and the Hands-On Practical Assessment
        %p During the enrollment process on <a href= 'https://levelup.gitlab.com/'> GitLab Level Up</a> users can use a credit card or discount code as the payment method. Users will then be able to access the bundle.

 
= partial "includes/services-contact-form"

