---
title: GitLab Certified InnerSourcing Specialist
suppress_header: true
description: "GitLab Certified InnerSourcing Specialist"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified InnerSourcing Specialist
    %h2.headline-subtitle
      Validate and showcase your skills with GitLab technical certification

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified InnerSourcing Specialist

        %h3 Interested in getting certified?
        %p GitLab offers two class options to prepare for certification, although neither is required in order to take the exam:
        %ol
          %li Instructor-led: Fill out the form below or contact your GitLab sales representative to schedule an instructor-led delivery of GitLab InnerSourcing training for your team.
          %li Self-service: You can enroll in our <a href="/services/education/gitlab-technical-certification-self-paced/">self-paced option</a> to complete your certification in GitLab Learn.

        %h3 Overview
        %p GitLab Certified InnerSourcing Specialist is a <a href= '/learn/certifications/public/#technical-certifications-overview'> technical certification</a> offered by <a href= '/services/'>GitLab Professional Services</a> to help the GitLab community and team members validate their ability to apply GitLab InnerSourcing best practices in their daily DevOps work. To earn certification, candidates must first pass a 1-hour written assessment, followed by a 1-hour hands-on lab assessment graded by GitLab Professional Services engineers.

        %h3 Availability
        %p This certification exam is available for anyone to purchase and take, regardless of whether they have participated in instructor-led GitLab training, self-service GitLab training, or neither.

        %h3 Why GitLab Certified InnerSourcing Specialist certification?
        %h4 For employers
        %p With GitLab Certified InnerSourcing Specialist certification, team managers now have a way to confirm their cross-functional team members possess a solid understanding of how to use GitLab to <a href= 'https://about.gitlab.com/solutions/innersource/'> InnerSource</a> their work. Team members who achieve the certification will be able to drive collaboration and consistency throughout the organization by applying the same best practices used by GitLab's own team members.

        %h4 For individuals
        %p Individual GitLab users who earn GitLab Certified InnerSourcing Specialist certification receive a certification logo they can share on social media to showcase their accomplishment. This helps highlight to colleagues and employers their knowledge of how to InnerSource using GitLab, and their ability to apply best practices going forward.

        %h3 Exam objectives
        %p Individuals who earn GitLab Certified InnerSourcing Specialist certification are able to perform the following fundamental tasks.
        %ul
          %li Define what InnerSourcing is
          %li Identify the key components needed for InnerSourcing to be successful
          %li Assess how it will benefit you and your company
          %li Apply InnerSourcing best practices
          %li Apply InnerSourcing functions within GitLab

= partial "includes/services-contact-form"
