---
title: 'Global Developer Report confirms 2018 is the year for open source and DevOps'
author: Erica Lindberg
author_gitlab: erica
categories: insights
image_title: '/images/blogimages/2018-developer-report-cover.jpg'
description: "We surveyed over 5,000 software professionals to examine current attitudes and perception of the state of culture, workflow, and tooling within IT organizations."
cta_button_text: 'See the report'
cta_button_link: '/developer-survey/2018'
twitter_text: ".@gitlab’s 2018 Global Developer Report is live! See what they found" # optional
tags: developer survey, open source, DevOps, workflow
---
_Our [2022 Global DevSecOps Survey](/developer-survey/) is out now! Learn the latest in DevOps insights from over 5,000 DevOps professionals._

From the junior developer with just a handful of years’ experience to the software professional who’s been in the game for decades, we set out to see how the people behind the software are dealing with a rapidly changing technology landscape. This year’s survey reveals that unclear direction is a developer’s greatest challenge, IT managers are investing the most in continuous integration and delivery, and nearly all agree that the importance of open source cannot be overstated.

<!--more -->

The focus of [GitLab’s 2018 Global Developer survey](/developer-survey/previous/2018/) was to understand developers’ attitudes toward their workplace, uncover disparities between developers and their management, and benchmark the state of culture, workflow, and tooling within IT organizations. We asked a broad set of questions covering everything from developers’ opinions on their teams’ ability to collaborate and succeed at work to their preferences on workflow methodology and tooling.

<div style="text-align: center"> 🎙<strong><a href="https://webinars.devops.com/top-5-takeaways-from-the-2018-global-developer-survey"> Join us March 29 for a live discussion with Alan Shimel of DevOps.com on the top 5 takeaways from the report</a> </strong> 🎙 ️</div>

## Developer satisfaction

We found that the majority of developers are satisfied with the conditions of their workplace, and managers should focus on improving the planning and testing phases of the development lifecycle. We also found that IT management is more optimistic in their perception of overall workplace satisfaction with roughly 10 percent more respondents agreeing their team is set up to succeed, and that project requirements and deadlines are set up front.

<img src="/images/blogimages/2018-developer-report-stats_2x.jpg" alt="2018 Developer Report" style="width: 900px;"/>

Delays during the planning phase emerged as a top challenge for all respondents and unclear direction remains the greatest challenge to getting work done for developers.

## DevOps

Commitment to and demand for DevOps is growing, despite challenges posed by outmoded tooling and cultural resistance to change. Adoption is still in early stages, with 23 percent identifying DevOps as their development methodology, but this is sure to increase with IT management naming it as one of their top three areas for technology investment in 2018. The tide of developer opinion is following suit: we found that the majority of developers agree that a DevOps workflow saves valuable time during the development process. Teams currently practicing DevOps confirm the productivity gains – high performers, who told us they deploy their code on demand, and who estimated that they spend 50 percent or more of their time on new work, report having a clear DevOps culture at rates more than double that of lower-performing teams.

## Open source

Open source projects like [Kubernetes](/blog/2017/11/30/containers-kubernetes-basics/) and [CoreOS](/blog/2018/02/27/coreos-acquisition/) have gained a lot of recent attention and this year’s survey underscores the value of creating software in the open. 92 percent of total respondents agree that open source tools are important to software innovation and nearly 50 percent report that most of their tools are open source.

## About the 2018 survey

GitLab surveyed 5,296 software professionals of varying backgrounds and industries around the world. The margin of error is two percent, assuming a population size of 21 million software professionals and 99 percent confidence level.

## Methodology

We launched this Global Developer Survey on November 17, 2017, collecting responses
until December 18, 2017. During that time, we promoted the survey primarily on GitLab’s
social media channels and newsletter. In order to correct for the gender imbalance
developing in our survey sample, we made an extra push via Twitter on December 5 to encourage
women involved in the software development lifecycle to take the survey. By the end of the open
period, we achieved approximately 25 percent female respondents, the same percentage of women who currently
hold computing roles, according to [NCWIT](https://www.ncwit.org/sites/default/files/resources/womenintech_facts_fullreport_05132016.pdf).

| Frequently asked questions |
| -------- | -------- |
| **How can I access the report?**   | You can view the complete report [here](/developer-survey/previous/2018/).   |
| **Are the raw results publicly available?**  | Yes, you can view the raw data [here](https://www.surveymonkey.com/results/SM-G3S6S63P8/).   |
| **Did only GitLab users take the survey?** | No, it was open to all who work in software production. You can view the survey demographics [here](/developer-survey/2018/#section-demographics).  |
| **How can I ask questions or give feedback about the survey and results?** | You can direct questions or comments about the survey to [surveys@gitlab.com](mailto:surveys@gitlab.com). |
| **I’d like to participate in the next survey. Can I sign up for alerts?** | The best way to receive news about the Global Developer Survey is to sign up for our bi-weekly newsletter – you can do that below or visit our [Subscription Center](https://page.gitlab.com/SubscriptionCenter.html). |

<script src="//page.gitlab.com/js/forms2/js/forms2.min.js"></script>
<form id="mktoForm_1540"></form>
<script>MktoForms2.loadForm("//page.gitlab.com", "194-VVC-221", 1540);</script>
----------------------
