---
title: "GitLab is moving to a three-tier product subscription model"
author: "Sid Sijbrandij"
author_gitlab: sytses
author_twitter: sytses
categories: news
description: "Bronze/Starter is being phased out and current customers have over a year to transition."
tags: news
twitter_text: "New @GitLab product subscription model - current Bronze/Starter customers have over a year to transition"
postType: corporate
---

{::options parse_block_html="true" /}
<div class="panel panel-info">
**What you need to know:**
{: .panel-heading}
<div class="panel-body">
- GitLab is phasing out the Bronze/Starter tier
- Current Bronze/Starter customers have over a year to transition
- Transition discount offers are available to current customers
- GitLab Free continues to gain features, with over 450 in the last year
- GitLab will continue to have SaaS and Self-Managed options for each tier
</div>
</div>
{::options parse_block_html="false" /}

**GitLab is phasing out the Bronze and Starter tiers and moving to a three-tier subscription model.** Existing customers on Bronze and Starter tiers can choose to remain on the same tier until the end of their subscription period, and may renew at the current price for one additional year or upgrade to Premium at a significant discount. More details on the [transition offers are below](#timeline-and-transition-offers).

## Why phase out the Bronze and Starter tiers?

Over the last few years, GitLab has evolved into a complete [DevOps platform](/solutions/devops-platform/). Many Bronze/Starter customers adopted GitLab just for source code management (SCM) or continuous integration (CI), but GitLab is now a robust DevOps platform that can replace entire toolchains. GitLab customers are achieving faster releases, lower toolchain costs, and more productive developers.

The Bronze/Starter tier does not meet the [hurdle rate](https://www.investopedia.com/terms/h/hurdlerate.asp) that GitLab expects from a tier and is limiting us from investing to improve GitLab for all customers. Ending availability of the Bronze/Starter tier will help us accelerate development on [customers’ priority needs](/direction/#1-year-plan) such as improving usability, availability, performance, and delivering enterprise-grade security and compliance.

The Free tier of GitLab includes 89% of the features in Bronze/Starter, making it a great option to get started with DevOps. Last year alone, GitLab added over 450 new features to the Free Tier, and [we never move open source features to paid tiers](/company/stewardship/#promises). In addition, we have moved [our observability suite](/blog/2019/12/16/observability/) and [many more features](/blog/2020/03/30/new-features-to-core/) to the [Free tier](https://youtu.be/HaPvQgZ2SWM). For customers that require more control across their DevOps processes and support, the GitLab Premium tier is a better suited offering than Bronze/Starter. Learn more [about Premium below](#about-gitlab-premium).

## Name change for the GitLab tiers

We want to make our product as easy as possible for you to understand and use. As part of that effort, we realized that inconsistent naming between our SaaS and Self-Managed offerings could be confusing, considering the feature set is largely consistent.

For that reason, we have decided to have consistent tier names for the two deployment options. There is no change to your existing tier subscriptions as a part of this rename, and each tier will continue to have SaaS or self-managed deployment options.

| Current tier name | New tier name |
| ------------------------- | -------------------- |
| Free / Core | Free |
| Silver / Premium | Premium |
| Gold / Ultimate | Ultimate |

## New three-tier model

Our new three-tier model can be found [on the pricing page](/pricing/).

## Timeline and transition offers

We understand that this change could be disruptive for our current Bronze/Starter customers, which is why GitLab is offering transition options and price discounts to ease your transition to Premium:

1. ***If you have 25 users or fewer***, you can log into the [GitLab customer portal](https://customers.gitlab.com/) and:
    1. Stay on Bronze/Starter now and renew your Bronze/Starter subscription at your next renewal before January 26, 2022 for one more year at $4/user/month
      <br> OR <br>
    1. Upgrade to GitLab Premium now for free, and at your next renewal receive a discounted GitLab Premium price for the next three years ($6/user/month in Year 1, $9/user/month in Year 2, and $15/user per month in Year 3)
1. ***If you have more than 25 users***, your GitLab Sales Representative will guide you through your transition discount offers.

As of today, **new customers** can start their DevOps journey with GitLab Free, Premium, or Ultimate. Bronze/Starter is no longer available.

If you have any additional questions, please see our [Customer FAQ](/pricing/faq-new-product-subscription-tiers/).

## About GitLab Premium

[GitLab Premium](/pricing/premium/) gives you a complete DevOps platform with more control over what goes into production – enabling faster releases, reduced downtime, and improved visibility. It adds:
- Enterprise performance and scale with high availability, disaster recovery, geo replication, advanced search, basic compliance, and auditing
- Team-level project management with epics and roadmaps
- Dashboards and Analytics with pipeline & environments dashboards, as well as value stream, code quality, & code review analytics
- Controlled Deployments with Multiple Approvers, Approval Rules, and Protected Environments
- Priority support

  “GitLab is quick to point out issues, and even faster at fixing them. Good support has been a really big deal for us" - [NVIDIA](/customers/Nvidia/)
  {: .alert .alert-info}

  "Since adopting GitLab Premium, all these pipelines have been made to run concurrently, and runtime of the testing and deployment has decreased by more than 66%." - [Paessler](/customers/paessler-prtg/)
  {: .alert .alert-info}

  "You cannot have the proper installation at all with other products or other services. So if you want something in house in your own data center, it’s GitLab. We started with GitLab, we are with GitLab.” - [Glispa](/customers/glispa/)
  {: .alert .alert-info}

## More information

Please find more information in the [Customer FAQs](/pricing/faq-new-product-subscription-tiers/), or contact your GitLab Sales Representative.

To address your questions and feedback, we have created a space in the [GitLab Community Forum](https://forum.gitlab.com/t/new-gitlab-product-subscription-model/), which is actively monitored by GitLab team members involved with this change.
