---
title: New to DevOps? Take our DevOps for beginners quiz
author: ""
author_twitter: gitlab
categories: devops platform
tags: DevOps, DevOps survey, education
description: We asked nearly 1400 DevOps beginners about their priorities and
  challenges for 2022. See how you compare, and take our short DevOps for
  beginners quiz.
image_title: /images/blogimages/three-things-i-learned-in-my-first-month-at-gitlab.jpg
twitter_text: Nearly 1400 DevOps beginners told us what they want to learn – a
  programming language – and improve on – automation. Give us 5 minutes and take
  our DevOps for beginners quiz
---

Over the last 12 months, we’ve asked three "DevOps for beginners" questions of nearly 1400 people:

- What’s the most important skill you hope to learn this year?
- What continues to be your team’s biggest DevOps challenge?
- What is your DevOps team’s top priority for 2022?

A resounding majority (nearly 83%) told us they want to learn a new programming language and about 15% hope to get better at automation.

(Learn the basics of Python with our [5-part series](/blog/2022/02/08/learn-python-with-pj-part-1/), understand [Rust](/blog/2020/07/21/rust-programming-language/), or [get started with CI/CD](/blog/2020/07/06/beginner-guide-ci-cd/).)

What are they struggling with?

Just over 70% said security was the biggest challenge for their DevOps team this year (a result that tracks with our just released [Global DevSecOps Survey](/developer-survey/)), while just shy of 24% said it was testing (again, that’s [a very common complaint](/blog/2021/09/30/want-faster-releases-your-answer-lies-in-automated-software-testing/)). 

The top priorities for 2022 were split between increasing automation (47%) and moving to a [DevOps platform](/topics/devops-platform/) (23%).

But these three questions are just the tip of the iceberg, so if you and your team are new to DevOps and have more to say about the experience, we’ve created a more comprehensive DevOps for beginners quiz:

<div data-tf-widget="T6uddL2S" data-tf-iframe-props="title=Beginner DevOps Quiz" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>

And we have more DevOps for beginner resources here:

[Beginner’s Guide to DevOps eBook](https://page.gitlab.com/resources-ebook-beginners-guide-devops.html)

A [step-by-step](/blog/2022/03/10/if-its-time-to-learn-devops-heres-where-to-begin/) look at how to get started with DevOps

A [guide to Git for beginners](/blog/2020/04/13/beginner-git-guide/)

[Continuous integration](/blog/2018/01/22/a-beginners-guide-to-continuous-integration/)for beginners
