---
title: Take our DevOps quiz!
categories: devops platform
description: From random terms to fun facts, will your DevOps knowledge be up to
  the task? Take our quiz and find out.
image_title: /images/blogimages/gl15.jpg
twitter_text: What's the most obscure programming language? Will AIOps be in
  your future? Take our DevOps quiz and find out.
---
We're hoping to stump you...and we stumped ourselves on some of these questions for sure. There are just 10 questions, so dive in, and you'll see your score at the end.

<div data-tf-widget="IcsqQQ0H" data-tf-iframe-props="title=Test your DevOps knowledge!" data-tf-medium="snippet" style="width:100%;height:400px;"></div><script src="//embed.typeform.com/next/embed.js"></script>