---
title: Test your software supply chain security know-how
categories: security
tags: security, supply chain, quiz
description: Software supply chain security is top of mind for DevOps teams
  but    just how well do you know this topic? Try your hand at our quiz.
image_title: /images/blogimages/container-security.jpg
twitter_text: How familiar are you with software supply chain security? Our
  short quiz will help you find out.
---
<div data-tf-widget="WEgqWuW6" data-tf-iframe-props="title=Test your
 
   software supply chain security knowledge" data-tf-medium="snippet"
 
   style="wi:100%;height:400px;"></div><script
 
   src="//embed.typeform.com/next/embed.js"></script>
