---
title: "How to use virtual reality for team building"
author: Matt Nohr 
author_gitlab: mnohr 
author_twitter: gitlab 
categories: culture 
image_title: '/images/blogimages/2022-08-01-virtual-reality-team-building/jeshoots-com-xGtHjC_QNJM-unsplash.jpg'
description: "Zoom meetings are fine, but are there better options for team bonding? We tested a few virtual reality games. Here's what you need to know."
tags: remote work
twitter_text: "How well does VR really work for team building? Here's how it went @gitlab" 
featured: no 
postType: content marketing 
related_posts:
  - "/blog/2022/05/03/preventing-burnout-a-managers-toolkit/"
  - "/blog/2021/01/29/tips-for-managing-engineering-teams-remotely/"
  - "/blog/2019/12/16/funny-gitlab-remote-meetings/" # NOTE: This is a 3-year-old post
---
Since GitLab is [All Remote](/company/culture/all-remote/), we are frequently looking for new ways to stay connected with each other. A short time ago, our chief technology officer attended a virtual reality (VR) networking session and saw some potential for this type of [collaboration](/handbook/values/#collaboration) within GitLab. As the [acting chief of staff to the CTO](/handbook/engineering/cto-staff/#acting-chief-of-staff-to-the-cto-rotation), I got the fun task of testing out how we could use VR as a team-building tool.

For this initial trial, I reached out to existing VR users at GitLab, using the #vr-pals slack channel. We also honed in on people who already had an Oculus Quest 2.

Here are some of the things we tried, and what I found worked well:

## Picking games

I had some criteria when trying to find games to use for team building. First and foremost, I wanted games that felt inclusive to GitLab team members. Because of this, I ruled out shooting or other fighting games. I also stayed away from games that required a high level of physical activity. I found some games that had a long initial tutorial or game setup, which could have been appropriate but would have needed participants to do work in advance of any team-building sessions.

## Explore the world - Wander

The first game we tried as a group was [Wander](https://www.oculus.com/experiences/quest/2078376005587859). This is basically a VR version of [Google Street View](https://www.google.com/streetview/). Our group took turns leading mini tours. I showed a place from a recent vacation, someone else gave us a tour of his hometown, and then we did one of the pre-built tours that come with the game. While we were using the game we could talk to each other, see where everyone else was looking, and even point things out.

One of the reasons I picked this game is that I've done something similar with team members over Zoom in the past. This felt more interactive since each person could look around on their own, and we weren't watching someone just screen-share a browser window.

One issue we had was that only five people could be in a room, which was a limitation of the game itself. We had more people than the room size allowed for, so some people did not get to participate. Now that we know this, we could work around it by splitting up into smaller groups in advance.

It also took a bit of time to become familiar with the controls. This was not a major concern, but we did have to explain the details to each other. This would happen with any game, and having teams familiarize themselves in advance would fix this problem. On the other hand, we did not want to have people required to do work before a team-building session.

Another challenge with this – and any other – game was identifying team members by their Oculus usernames and avatars. I would recommend players temporarily change their username for this type of team building.

If we wanted to do this again, it would be helpful to have people do a bit of planning in advance. For example, I could build a mini tour in the game using the "favorites" feature and then walk through that. It would make it flow a bit better and could be more inclusive if people felt more prepared. We could also have different sessions with themes like "favorite vacation spots" or "best local food."

## Bowling party - ForeVR Bowl

The other game we tried as a group was [ForeVR Bowl](https://www.oculus.com/experiences/quest/3420508614708029/). This was fun because, while we were bowling, we were mostly using the time together to tell stories and get to know each other. In this game, there are different bowling balls that are hidden for you to find and unlock, and after a couple of rounds of bowling, we decided just to go search for all the hidden balls. It was fun to be able to do this joint treasure hunt, and there are probably other good games that fit this theme as well.

We had some audio issues that we needed to work through on this game, but once we got that sorted out it was very smooth. I'm not sure how great the bowling mechanics/physics of the game are, but we were not trying to get high scores, just to socialize.

Like Wander, there is a limit on the number of people in a bowling party, which is something to keep in mind. The controls also take a bit of getting used to for moving around the bowling alley, but that did not get in the way.

## Other games

There were a couple of other games that were suggested that we did not get a chance to try.

First is [Beat Saber](https://www.oculus.com/experiences/quest/2448060205267927/). I really enjoy playing this game, but it seems to work best as a single-player game. There is not a ton of collaboration. 

Another game is [Rec Room](https://www.oculus.com/experiences/quest/2173678582678296/). This is something we could try in the future as it has a bunch of mini-games within it. It does take a bit of practice to get used to the game and controls, and that is why I did not include it in our trial.

To be more business-focused, I also tried out [Immersed](https://www.oculus.com/experiences/quest/2849273531812512/). I mainly used the desktop feature, which mirrors your computer to VR and you can have many virtual monitors. It was interesting, but I found that I got fatigued when trying to do actual work in this mode. There is also a virtual meeting room we could try, but for that, it seems our current Zoom setup is more efficient. 

## Going forward

Overall, I think using VR is a fun way to connect with team members from all over the world, and something we should continue to explore. Over the past few years meeting in person has been difficult, so finding new ways to connect with each other virtually is something we should keep working on.

One major consideration is the price and availability of VR headsets for team members in different parts of the world. To give just one example, in South Africa the headsets cost about 2.5 times more than they do in the United States – if you can find them in stock. If we wanted to use this tool, we would need to ensure all team members had equal access to the hardware.

Cover image by <a href="https://unsplash.com/@jeshoots?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">JESHOOTS.COM</a> on <a href="https://unsplash.com/s/photos/virtual-reality?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
{: .note}
