$slp-font-stack: "Source Sans Pro", sans-serif;
$slp-black: #333;
$slp-white: #fff;
$slp-grayscale-gray2: #5e5e5e; 
$slp-grayscale-c3: #E5E7EB;
$slp-ui-secondary-dark: #7D2BD9;
$slp-ui-primary: #F96424;
$slp-ui-primary-dark: #DD6531;
$shadow-soft: 0px 2px 50px rgba(0, 0, 0, 0.08);
$rounded-lg: 0.5rem;
$slp-lg: 1400px;
$slp-nav: 1200px;
$slp-md: 1024px;
$slp-sm: 640px;
$slp-text-base: 16px;
$slp-text-sm: 12px;
$slp-text-xs: 10px;

/*Used for simple header*/
.navbar {
  background: $slp-white;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 58px;
  font-size: .8em;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition:.2s cubic-bezier(0, 0, 0, 1);

  @media screen and (max-width: $slp-nav) {
    padding: 0 20px;
  }
}

.navbar-brand {
  display: flex;
}



.navigation-home {
  @media screen and (min-width: $slp-nav) {
    padding-right: 24px;
  }

  &__logo {
    position: relative;
    top: 0.8rem;

    @media screen and (min-width: $slp-nav) {
      display: none;
    }

    @media screen and (min-width: $slp-lg) {
      display: inline-block;
    }
  }

  &__icon {
    top: 0.5rem;
    height: 6.0rem;
    width: 6.5rem;
    padding: 8px 8px 8px 16px;
    position: relative;

    @media screen and (min-width: $slp-nav) {
      display: inline-block;  
    }

    @media screen and (min-width: $slp-lg) {
      display: none;
    }
  }
}

.navigation-item {
  display: inline;
  position: relative;
  font-size: $slp-text-base;
  padding: 24px 16px;
  cursor: default;
  vertical-align: middle;
  color: $slp-black;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  height: 7rem;

  &::after{
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(225deg);
    bottom: -12px;
    left: 47%;
    z-index: 101;
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
  }

  &:hover {
    color: $slp-ui-secondary-dark;

    &::after{
      background: white;
      opacity: 1;
    }

    .navigation-item__text {
      top:7.6rem;
    }
    .navigation-item__chevron {
      color: $slp-ui-secondary-dark;
    }

    .navigation-item__dropdown {
        left: -20px;
        top: 60px;
        display: inline;
        opacity: 1;
    }

    &:focus {
      .navigation-item__dropdown{
        display: inline;
      }
    }

    &:focus-within {
      .navigation-item__dropdown {
        opacity: 1;
      }
    }
    
  }

  &__text{
    color: $slp-black;
    display: inline;
    padding-bottom: 2px;
    border-color: $slp-ui-secondary-dark;
    padding: 4px;
    margin-bottom: 0;
  }

  &__chevron {
    color: $slp-grayscale-gray2;
    display: inline;
    margin-left: 4px;
    fill: currentColor;
  }

  &__dropdown {
    padding: 16px;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    z-index: 100;
    color: $slp-black;
    position: absolute;
    transform-origin: top right;
    left: -100vw;

    &:hover{
      display: inline;
    }

  }
}

.navigation-desktop-dropdown {
  background: $slp-white;
  padding: 24px;
  box-shadow: $shadow-soft;
  border-radius: $rounded-lg;

  &__flexcontainer {
    display: flex;
    @media screen and (min-width: $slp-md) {
      flex-direction: column;
    }
    @media screen and (min-width: $slp-lg) {
      flex-direction: row;
    }
  }

  &__subheading {
    color: $slp-black;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px !important;
    position: relative;
    font-size: $slp-text-xs;

    @media screen and (min-width: $slp-lg) {
      padding-top: 0;
    }
  }
}

.navigation-grid {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-template-rows: repeat(4, auto);

  &__item {
    display: block;
    padding: 10px;
    color: $slp-ui-secondary-dark !important;
    text-decoration: none !important;
    min-width: 27.4rem;

    &:hover {
      .navigation-grid__arrow {
        color: $slp-ui-secondary-dark;
        opacity: 1;
      }

      .navigation-grid__description {
        color: $slp-black;
      }
    }
  }

  &__arrow {
    color: $slp-white;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
  }

  &__description{
    color: $slp-grayscale-gray2;
    font-size: $slp-text-sm;
    margin-bottom: 0 !important;
  }

}

.navigation-right {
  position: absolute;
  right: 6px;
  top: 4px;

  &__slp-button {
    width: unset;
    margin-top: 4px;
    text-decoration: none;

    &:not(:first-child){
      margin-left: 0.5rem;
    }
  }

  &__button {
    padding: 16px;
    border: none;
  }

  &__icon {
    display: inline;
  }

}

/*Used for navigation-mobile.html.erb*/


.navigation-dropdown-item {
  position: absolute;
  left: -100%;
  padding-bottom: 0;

  &:focus-within {
    position: relative;
    left: 0;
  }

  &--active{
    position: relative;
    overflow-x: auto;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0 !important;
    left: 0;
  }

  &__subheading {
    color: $slp-black;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin-bottom: 0 !important;
    padding-top: 4px;
    padding-bottom: 16px;
    font-size: 1rem;
  }

  &__item-wrapper {
    padding-bottom: 16px;
    list-style: none;
    font-size: $slp-text-sm;
    color: $slp-ui-secondary-dark;

    &--subheading{
      margin-top: 0;
      padding-left: 16px;
    }
  }

  &__item {
    font-size: 14px;
    color: $slp-ui-secondary-dark !important;

    &--simple {
      padding: 8px 0;
    }
  }

  &__item-wrapper-simple{
    padding-bottom: 16px;
    list-style: none;
  }

}

.navigation-dropdown-cta {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 16px;
  background: $slp-white;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px 16px 0;


  &--active{
    display: block;
  }

  &__button {
    margin-top: 0.8rem;
  }
}
