---
title: GitLab Certified Git Associate
suppress_header: true
description: "GitLab Certified Git Associate"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Certified Git Associate
    %h2.headline-subtitle
      Validate and showcase your GitLab skills

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 GitLab Certified Git Associate

        %h3 Interested in getting certified?
        %p GitLab offers two class options to prepare for certification, although neither is required in order to take the exam:
        %ol
          %li Instructor-led: Fill out the form below or contact your GitLab sales representative to schedule an instructor-led delivery of GitLab with Git Basics for your team.
          %li Self-service: You can enroll in our <a href="/services/education/gitlab-technical-certification-self-paced/">self-paced option</a> to complete your certification in GitLab Level Up.

        %h3 Overview
        %p GitLab Certified Git Associate is a <a href= '/learn/certifications/public/#technical-certifications-overview'> technical certification</a> offered by <a href= '/services/'>GitLab Professional Services</a> to help the GitLab community and team members validate their ability to apply GitLab in their daily DevOps work. To earn a certification, candidates must first pass a 1-hour written assessment, followed by a 2-hour hands-on lab assessment graded by GitLab Professional Services engineers.

        %h3 Availability
        %p This certification exam is available for anyone to purchase and take, regardless of whether they have participated in instructor-led GitLab training, self-service GitLab training, or neither.

        %h3 Why GitLab Certified Git Associate certification?

        %h4 For employers
        %p With GitLab Certified Git Associate, team managers now have a way to confirm their team members possess the same basic concepts and skills needed to get started with GitLab in their daily work. All team members who achieve the certification will have a solid foundation upon which to continue to grow their skills and successfully adopt GitLab.

        %h4 For individuals
        %p Individual GitLab users who earn GitLab Certified Git Associate certification receive a certification logo they can share on social media to showcase their accomplishment. This helps highlight to colleagues and employers their foundational knowledge of how to use GitLab, and their capacity for growth in gaining additional GitLab skills going forward.

        %h3 Exam objectives
        %p Individuals who earn GitLab Certified Git Associate certification are able to perform the following fundamental tasks.
        %ul
          %li Explain what GitLab is and why teams use it
          %li Perform basic Git commands for branching and merging locally and remotely
          %li Apply fundamental concepts and skills using GitLab within the DevOps lifecycle


= partial "includes/services-contact-form"
