{::options parse_block_html="true" /}

<div class="panel panel-info">
**TeamOps**
{: .panel-heading}
<div class="panel-body">

TeamOps is a new people practice that brings precision and operations to how people work together. It's rooted in reality and objectivity, and focuses on the behaviors that make for better teams. It's supported by actionable tenets and concrete, real world examples.

At its heart is a belief that creating the environment for better decisions and improved execution of them makes for better teams — and ultimately, progress.

TeamOps is how GitLab scaled from a startup to a global public company in a decade. Now we're opening it up to every organization.


The four guiding principles of TeamOps are below.

1. [Teams exist to deliver results](/handbook/teamops/executing-decisions/)
   - This is about achieving objectives. Being more informed, making faster decisions, and increasing decision making velocity is only useful if you execute and deliver results. TeamOps empowers ***everyone*** to contribute to meaningful business outcomes. It also recognizes that execution ***is not a one-time event***; rather, it is the establishing of a new baseline on which future iterations are applied.
1. [Teams must be informed by an objective, shared reality](/handbook/teamops/informed-decisions/)
   - The decisions teams make must be informed by an objective — and shared — reality. We ensure everyone can consume (self-serve) the same shared information. This starts with clear documentation in a single source of truth. Values manifest as behaviors which can be observed and quantified. And wherever possible, teams must default to transparency. While other management philosophies prioritize the speed of knowledge ***transfer***, TeamOps optimizes for the speed of knowledge ***retrieval***.
1. [Everyone must be able to contribute](/handbook/teamops/fast-decisions/)
   - Organizations must ***create a system*** where everyone can consume information and contribute, regardless of level, function, or location? When people don't have the opportunity to join the organization in the first place because of their background, or where they live, or their life stage, we miss out on valuable perspectives.   
1. [Decisions are the fuel for high-performance teams](/handbook/teamops/many-decisions/)
   - Conventional management philosophies often strive for consensus and avoid risk instead of a [bias for action](/handbook/values/#bias-for-action), resulting in slow decision making. In TeamOps, success is correlated with decision velocity: the quantity of decisions made in a particular stretch of time (e.g. month, quarter) and the results that stem from faster progress.


</div>
</div>
