---
title: GitLab System Administration Training
suppress_header: true
description: "GitLab System Administration Training"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_admin" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Session 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Duration
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hr
                  %td System Administration Overview
                  %td
                    %ul
                      %li GitLab overview
                      %li GitLab application architecture
                      %li Introduction to reference architectures
                %tr
                  %td 3 - 4 hrs
                  %td Install GitLab
                  %td
                    %ul
                      %li Install Omnibus GitLab
                      %li Basic administration operations
                      %li Introduction to GitLab runners
                      %li Runner setup - shell executor
                      %li Runner setup - Docker executor
                      %li Runner setup - Kubernetes executor
                %tr
                  %td 2 - 3 hrs
                  %td Configure and Maintain GitLab
                  %td
                    %ul
                      %li Backup and restore GitLab
                      %li Upgrade and downgrade GitLabs
                      %li Basic security settings

      .col-md-12
        %h3 Session 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Duration
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hr
                  %td GitLab CLI Utilities
                  %td
                    %ul
                      %li GitLab configuration files
                      %li Administration utilities
                %tr
                  %td 1 hr
                  %td GitLab Log System
                  %td
                    %ul
                      %li Information in active logs 
                      %li Configure logging behavior
                %tr
                  %td 1 - 2 hrs
                  %td Monitoring GitLab
                  %td
                    %ul
                      %li Configure and use Prometheus
                      %li Configure and use Grafana
                      %li Monitoring best practices
                %tr
                  %td 1 hr
                  %td Introduction to Geo
                  %td
                    %ul
                      %li GitLab Geo overview
                      %li Disaster recovery and planned failover
                %tr
                  %td 1 - 2 hrs
                  %td Troubleshoot GitLab
                  %td
                    %ul
                      %li Work with GitLab support
                      %li Common error codes
                      %li Troubleshooting scenarios
                %tr
                  %td 1 hr
                  %td Resolving User and Group Problems
                  %td
                    %ul
                      %li User, password, and authentication issues
                      %li Group and project permission issues

        = partial "includes/services/requirements", locals: { id: "training_sessions_admin" }
