---
title: GitLab DevOps Fundamentals
suppress_header: true
description: "GitLab DevOps Fundamentals"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_devops" }
    .row
      .col-md-12
        %h2 Course Flow and Syllabi
        %h3 Course 1: GitLab with Git Basics 
        %p For details view <a href='https://about.gitlab.com/services/education/gitlab-basics/'>this course description page</a>  
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Session
                  %th Duration
                  %th Module
              %tbody
                %tr
                  %td Session 1
                  %td 4 hrs
                  %td
                    %ul
                      %li GitLab Overview
                      %li GitLab Components and Navigation
                      %li Git Basics
                %tr
                  %td Session 2
                  %td 4 hrs
                  %td
                    %ul
                      %li Basic Code Creation in GitLab
                      %li GitLab's CI/CD Functions
                      %li GitLab's Package and Release Features
                      %li GitLab Security Scanning
      .col-md-12
        %h3 Course 2: CI/CD
        %p For details view <a href='https://about.gitlab.com/services/education/gitlab-ci/'>this course description page</a>
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Session
                  %th Duration
                  %th Module
              %tbody
                %tr
                  %td Session 1
                  %td 4 hrs
                  %td
                    %ul
                      %li GitLab Overview and Flow
                      %li Architecture and Runners
                      %li Anatomy of a Pipeline
                      %li Advanced Keywords and DRY
                %tr
                  %td Session 2
                  %td 4 hrs
                  %td
                    %ul
                      %li Variable Precedence & Scoping
                      %li Job Policy Patterns
                      %li Artifacts and Dependencies
                      %li Registry & Deployments
                      %li Security Scanning and Reports
      .col-md-12
        %h3 Course 3: GitLab for Project Managers
        %p For details view <a href='https://about.gitlab.com/services/education/pm/'>this course description page</a>
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Session
                  %th Duration
                  %th Module
              %tbody
                %tr
                  %td Session 1
                  %td 4 hrs
                  %td
                    %ul
                      %li Organizing the Work
                      %li Planning the Work
                      %li Doing the Work
                      %li Document the Work
                      %li GitLab Agile Planning Structures
                %tr
                  %td Session 2
                  %td 4 hrs
                  %td
                    %ul
                      %li Issues and Labels
                      %li Why Milestones are Important
                      %li The Use of Kanban Boards
                      %li GitLab's Service Desk
                      %li Utilizing Wikis
      .col-md-12
        %h3 Course 4: GitLab Security Essentials
        %p For details view <a href='https://about.gitlab.com/services/education/security-essentials/'>this course description page</a>
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Session
                  %th Duration
                  %th Module
              %tbody
                %tr
                  %td Session 1
                  %td 4 hrs
                  %td
                    %ul
                      %li Introducing the Secure Stage
                      %li Using SAST, Secret Detection, and DAST
                      %li Dependency Scanning
                %tr
                  %td Session 2
                  %td 4 hrs
                  %td
                    %ul
                      %li Container Scanning
                      %li License Compliance
                      %li Fuzz Testing
        <br/>
        Download the <a href='https://drive.google.com/file/d/1IAMElA6kM2y_Q6-nKumBOpOQkVvcx3mr/view?usp=sharing'>syllabus for all 4 courses</a> included in DevOps Fundamentals.

        = partial "includes/services/requirements", locals: { id: "training_sessions_devops" }
