You can find our team metrics in the [Manage:Integrations Dashboard](https://app.periscopedata.com/app/gitlab/926758/Manage:Integrations-Dashboard).

<% if ENV['PERISCOPE_EMBED_API_KEY'] %>
  <div>
    <embed width="100%" height="350" src="<%= signed_periscope_url(dashboard: 926758, chart: 12808907, embed: 'v2') %>">
  </div>
  <% else %>
    <p>You must set a <code>PERISCOPE_EMBED_API_KEY</code> environment variable to render this chart.</p>
<% end %>
