---
layout: default
title: "GitLab's Board of Directors"
description: "Meet GitLab's Board of Directors"
canonical_path: "/company/team/board-of-directors/"
suppress_header: true
extra_css:
  - team-egroup.css
extra_js:
  - team-egroup.js
---
<% event = data.team_bod %>

<div class="container slp-container header-content slp-text-center slp-mb-64">
  <h1 class="slp-text-3xl slp-pt-32 slp-pb-16 md:slp-text-5xl">GitLab's Board of Directors</h1>
</div>
<%= partial "includes/cms/reusable-blocks/team-speakers", locals: { speakers_block: event.speakers_block } %>
<div class="container slp-container header-content slp-text-center slp-mb-64">
  <a href="/handbook/board-meetings/" class="slp-mt-auto slp-font-bold slp-text-base md:slp-text-xl slp-leading-6 hover:slp-underline group-hover:slp-text-ui-secondary slp-text-ui-secondary-dark">
    Board Meetings
    <svg width="9" height="6" xmlns="http://www.w3.org/2000/svg" class="slp-inline-block"><path d="M6.685.683L9 3 6.685 5.317a.624.624 0 11-.883-.884l.808-.808H.624a.625.625 0 010-1.25H6.61l-.808-.808a.625.625 0 01.883-.884z" fill="none" class="slp-fill-current group-hover:slp-text-ui-secondary group-focus:slp-text-ui-secondary"></path></svg>
  </a>
</div>
<hr class="slp-border-t slp-border-grayscale-c3 slp-mb-64" />
<div class="container slp-container header-content slp-text-center slp-mb-64">
  <a href="/company/team/e-group/" class="slp-mt-auto slp-font-bold slp-text-base md:slp-text-xl slp-leading-6 hover:slp-underline group-hover:slp-text-ui-secondary slp-text-ui-secondary-dark">
    Meet our Executive Group
    <svg width="9" height="6" xmlns="http://www.w3.org/2000/svg" class="slp-inline-block"><path d="M6.685.683L9 3 6.685 5.317a.624.624 0 11-.883-.884l.808-.808H.624a.625.625 0 010-1.25H6.61l-.808-.808a.625.625 0 01.883-.884z" fill="none" class="slp-fill-current group-hover:slp-text-ui-secondary group-focus:slp-text-ui-secondary"></path></svg>
  </a>
</div>

<script data-cookieconsent="ignore" src="/javascripts/slippers-event-speaker.js" type="text/javascript"></script>
<script data-cookieconsent="ignore" src="https://unpkg.com/micromodal/dist/micromodal.min.js" type="text/javascript"></script>  


