---
layout: feature
title: Data Science with GitLab
description: "Gitlab enables data science and machine learning teams to connect, collaborate and accelerate. Learn more!"
canonical_path: "/solutions/data-science/"
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 Data Science with GitLab
        %h3#description Connect, collaborate, and accelerate
        %a.btn.cta-btn.btn-white{ href: "https://about.gitlab.com/free-trial/", target: "_blank", :"data-ga-name" => "Try GitLab fro free", :"data-ga-location" => "header"  } Try GitLab for Free
  .sub-wrapper
    .container
      .row#overview
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 Common challenges in data science
          %p.overview
            :markdown
              Data science and machine learning teams are at the cutting edge of business innovation, bringing together insight and learning from data sets near and far. They must be cross-functional, agile, and iterative as they work with business and IT teams to unlock the value hidden in their organization’s data.
            :markdown
              Data science teams need to:
          .overview
            :markdown
              - **Collaborate** both inside and outside their teams, and often inside and outside their organization
              - **Plan and manage projects and sprints,** with tools flexible enough to support scrum, kanban, and more
              - **Version control everything:** manage and track different versions of files, models, test cases, data sets
              - **Automate** key workflow steps, that are otherwise slow and subject to manual errors
              - **Streamline testing and validation** of work, making it much faster and more repeatable
              - **Simplify infrastructure management** and often across multiple cloud providers
      %hr.divider/

      .row#benefit-1
        .col-md-4.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("file-locking-icon-2")
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Data Science with GitLab
          %p.overview
            :markdown
              - **Cross-functional discussions and collaboration:** GitLab issues make it easy for teams to bridge silos and departments. _[See an example Issue discussion](https://about.gitlab.com/images/issues_main_view.png){:data-ga-name="See an example issue discussion"}{:data-ga-location="body"}_
              - **Lightweight and scalable agile planning and work management:** Create and track issues, organizing work into sprints and epics. Keep your broader team aligned as you focus on building models and collaborating with your business. _[An example Burndown Chart](/images/burndown_chart.png){:data-ga-name="Burndown chart"}{:data-ga-location="body"}_
              - **Easily keep track of different versions:** Manage changes to your project files, models, and scripts as you build, train and deploy your models. Collaborate while reviewing changes to help your teams deliver faster. _[Suggestions are easily viewed and applied](/images/apply_suggestion_v12_7.png){:data-ga-name="Suggestions"}{:data-ga-location="body"}_
              - **Simple and scalable automation:** GitLab CI/CD makes it easy to validate models by testing key elements with each change, and automating model building and deployment. _[Pipeline visualization](/images/pipelines.png){:data-ga-name="Pipeline Visualization"}{:data-ga-location="body"}_
              - **Deploy and manage your model in any cloud:** Being truly cloud-agnostic means that GitLab provides a complete DevOps platform that allows teams to have the same productivity metrics, governance, and other connective tissue, no matter what cloud you use. _[See deployment view Pods in GitLab](/images/deploy_boards_landing_page.png){:data-ga-name="Deployment pods"}{:data-ga-location="body"}_
      %hr.divider/

      .row#benefit-2
        .col-xs-12.col-md-6.col-md-offset-1
          %h2 Additional resources
          .overview
            :markdown
              - Video: [How to Implement DataOps using GitLab](https://www.youtube.com/watch?v=GSEwkL5ZRNs)
              - Video: [DataOps in a Cloud Native World — Data Engineering Best Practices](https://www.youtube.com/watch?v=PLe9sovhtGA&list=PLFGfElNsQthaaqEAb6ceZvYnZgzSM50Kg&index=9&t=0s)
              - Video: [GitLab for Machine Learning on Kubernetes](https://www.youtube.com/watch?v=YiD9Ozj5zbQ)
              - [4 Examples of the power of open source analytics](https://about.gitlab.com/blog/2019/04/15/open-source-analytics/){:data-ga-name="Open source analytics"}{:data-ga-location="body"}
              - [GitLab's Data Team open sources a dbt package for managing Snowflake spend](https://about.gitlab.com/blog/2019/08/26/managing-your-snowflake-spend-with-periscope-and-dbt/){:data-ga-name="Managing snowflake spend"}{:data-ga-location="body"}
              - Video: [How GitLab's Data Team Does More By Adopting Software Engineering Best Practices](https://www.youtube.com/watch?v=eu623QBwakc)
              - Video: [WordPress.com's Simon Ouderkirk discusses a data organization translation of DevOps and more, with Gitlab's Taylor Murphy](https://www.youtube.com/watch?v=iT1uRdyXfd8)
              - [How the GitLab Data Team works ⁠— our open source, internal handbook](https://about.gitlab.com/handbook/business-technology/data-team/){:data-ga-name="Data team"}{:data-ga-location="body"}
        .col-md-4.col-md-offset-1.hidden-xs.hidden-sm
          .ee-feature-icon
            = icon("checklist-icon")
      %hr.divider/
