---
title: Train the Trainer
suppress_header: true
description: "Empower your teams to be leverage experts in all things GitLab - and accelerate your enterprise adoption of the single application for the DevOps lifecycle."
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 Train the Trainer<br/>with GitLab Education Services
    %h2.headline-subtitle
      Scale your DevOps transformation<br/>across your entire global enterprise

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Summary
        %p.service-para
          Empower your teams to be experts in all things GitLab, and accelerate your enterprise adoption of the single application for the DevOps lifecycle.
        %p.service-para
          For customers with thousands of business users, developers, and operators who want training and education on the various aspects of GitLab, our staff can help you leverage internal trainers.  We will bring your team up to speed using the same programs we use to train GitLab team-members and partners.  In addition, we will provide all the materials and resources you need to be successful.
        %p.service-para
          When our curriculum updates as the uses for GitLab expand in your organization, our train-the-trainer resources will always be available for your teams.

        %h1 Who is this service for?
        %p.service-para
          Customers with large enterprises who need help driving organizational change.

        %h1 What's included?
        %p GitLab offers a variety of training courses depending on your needs. In addition, we offer specialized training that can be customized even further.
        %p The general courses we offer include:
        %ul
          %li
            %a{href: '/services/education/gitlab-basics/'} GitLab with Git Basics Training
          %li
            %a{href: '/services/education/gitlab-ci/'}GitLab CI/CD Training
          %li
            %a{href: '/services/education/security-essentials/'}GitLab Security Essentials Training
          %li
            %a{href: '/services/education/pm/'}GitLab for Project Managers Training
          %li
            %a{href: '/services/education/innersourcing-course/'}GitLab InnerSourcing Training
          %li
            %a{href: '/services/education/admin/'} GitLab System Administration Training
          %li
            %a{href: '/services/specialized/'} Specialized Training

= partial "includes/services-contact-form"
