---
layout: default
title: GitLab Backpacking
description: "Contribute in style"
canonical_path: "/community/contribute/development/backpacking/"
suppress_header: true
extra_css:
  - contributing.css
  - community.css
  - bl-modal.css
extra_js:
  - libs/slick.min.js
---
.wrapper
  .simple-header
    %h1 GitLab Backpacking - July 2022  
    %p
    :markdown
    Join us in celebrating our brand refresh by contributing to GitLab!
  #content
    .wrapper.container.contributing-content{role: "main"}
      .block
        .block-content
          %h2.block-title
          :markdown
            We want you to be able to contribute in style! To celebrate GitLab's new branding every contributor with at least one merge request merged into a `gitlab-org` project between the July 14 and July 31 will receive a [laptop backpack](https://shop.gitlab.com/shop/product/24910839/) featuring our new logo!  
          %p
            Use the contributing guide for setting up your development environment and finding an issue/project to contribute to! We have also put together a 
            = link_to "group of videos", "https://www.youtube.com/playlist?list=PL05JrBw4t0Ko8to-9SdASJ6C6a9aK6vKw"
            that can help you to start contributing.
          %p
            Join one of our weekly 
            = link_to "office hour calls", "https://www.meetup.com/gitlab-virtual-meetups/"
            to address any questions, get help, or just hang out with the community and GitLab team members. 
          %p
            Important information: unfortunately merge requests to the
            = link_to "website/handbook", "https://gitlab.com/gitlab-com/www-gitlab-com"
            are excluded from this initiative.
           
      .block
        .block-content
          %h2.block-title Frequently Asked Questions
          :markdown
            1. I submitted a Merge Request in July. If in August it hasn't been reviewed yet, do I qualify for the prize?    
            <br>
             - Yes, even if your MR is merged during August, you still qualify to receive your backpack. All MRs will be reviewed until the end of August.  
            1. How will I receive my reward?
            <br>
             - If someone hasn't reached out to you by August 15, please [fill the form](https://docs.google.com/forms/d/e/1FAIpQLSfGo-3kEimVPpC5zKKxXHkFjgYx8-vQAanzAX2LxGgXQqXikQ/viewform) for requesting it.
            1. Is attendance to the office hour calls mandatory?
            <br>
             - Office hour calls help you get started, address any questions, and meet the community. Your attendance is not mandatory unless you want to miss all the fun.
