%div{style: "display: none"}
  = link_to('Open in Web IDE', web_ide_url(data.site, monorepo_site_path_fragment, current_page.file_descriptor.relative_path), id: 'hidden-web-ide')
  = link_to('View source', blob_editor_url(data.site, monorepo_site_path_fragment, current_page.file_descriptor.relative_path), id: 'hidden-page-source')
%footer#global-footer
  %slp-footer

-# Buyer Experience footer integration
%script{src: cache_bust("/javascripts/be-footer.js", cache_bust_value), type: "text/javascript"}

= partial "includes/layout/scripts"

%script{ src: "/javascripts/cbextras.js", type: "text/javascript", "defer": "true"}
