---
title: GitLab Security Essentials
suppress_header: true
description: "GitLab Security Essentials"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

.wrapper
  .page-container.container
    = partial "includes/services/detail-tile", locals: { id: "training_sessions_security_essentials_remote" }
    .row
      .col-md-12
        %h2 Course Syllabus
        %h3 Part 1
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Duration
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hr
                  %td Introducing the Secure Stage
                  %td
                    %ul
                      %li Features available in the Secure Stage
                      %li How Security Scanning Works with GitLab Flow
                      %li Types of Security Scans Available
                      %li Types of Security Reports Available

                %tr
                  %td 2 hrs
                  %td SAST, Secret Detection, and DAST
                  %td
                    %ul
                      %li What is Static Application Security Testing (SAST)?
                      %li Steps for Using SAST
                      %li Enabling and Configuring SAST
                      %li Reviewing SAST Reports
                      %li Taking Action on SAST Findings
                      %li What is Secret Detection?
                      %li Steps for Using Secret Detection
                      %li Enabling and Configuring Secret Detection
                      %li What is Dynamic Application Security Testing (DAST)?
                      %li Steps for Using DAST
                      %li Enabling and Configuring DAST
                      %li <strong>Lab</strong>: Using SAST, Secret Detection, and DAST
                %tr
                  %td 1 hr
                  %td Dependency Scanning
                  %td
                    %ul
                      %li What is Dependency Scanning?
                      %li Steps for Using Dependency Scanning
                      %li Enable and Configure Dependency Scanning
                      %li <strong>Lab</strong>: Using Dependency Scanning
      .col-md-12
        %h3 Part 2
        .row
          .col-md-8
            %table
              %thead
                %tr
                  %th Duration
                  %th Topic
                  %th Overview
              %tbody
                %tr
                  %td 1 hr
                  %td Container Scanning
                  %td
                    %ul
                      %li What is Container Scanning?
                      %li Steps for Using Container Scanning
                      %li Enable and Configure Container Scanning
                      %li <strong>Lab</strong>: Using Container Scanning
                %tr
                  %td 1 hr
                  %td License Compliance
                  %td
                    %ul
                      %li What is License Compliance?
                      %li Steps for Using License Compliance
                      %li Enable and Configure License Compliance
                      %li Review Scanning Output and Reports
                      %li <strong>Lab</strong>: Enable, Configure, and Run License Compliance
                %tr
                  %td 1 hr 30 mins
                  %td Fuzz Testing
                  %td
                    %ul
                      %li What is Fuzz Testing?
                      %li Steps for Using Fuzz Testing
                      %li Fuzz Testing workflow
                      %li Using a Fuzz Testing Corpus
                      %li <strong>Lab</strong>: Enable, Configure, and Run Fuzz Testing

        = partial "includes/services/requirements", locals: { id: "training_sessions_security_essentials_remote" }
