---
title: Advisory Workshop
suppress_header: true
description: "GitLab Experts can provide guidance on GitLab workflows and other best practices to help your company achieve its most ambitious goals."
canonical_path: "/services/advisory/advisory-workshop/"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      Advisory Workshop
    %h3.headline-subtitle
      Consulting services that provide best-practice guidance on specific topics. 

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li 
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h1 Advisory Workshop
        %p.service-para
        Advisory workshops can be helpful to customers who have questions on how to best leverage GitLab to meet their company's ambitious goals. Engage with GitLab Professional Services to explain what you are trying to solve and we can provide guidance, demonstrations and examples on how to best solve it using GitLab.

        %h2 Who is this service for?
        %p.service-para
        %ul
          %li Customers who need technical guidance on a specific feature or functional section of GitLab.  
          %li Customers who have a team that can execute on the guidance provided from the engagement.  
          %li Customers who are looking to transfer knowledge from GitLab Professional Services Engineers to their team using a delivery workshop. 
          %li Customers who are investing in other Services that want to add on additional guidance activities. 

        %h2 What's included?
        %p.service-para
        We typically use a 3 step approach when delivering these services for customers:
        %ol
          %li We hold a <strong>Discovery Session</strong> where you present the technical problems or strategic approach with which you need guidance. 
          %li We <strong>asynchronously investigate</strong> and iterate on a candidate solution. We may reach back out for clarification and guidance during this iterative process. 
          %li We hold a <strong>Delivery Workshop</strong> where we demonstrate workflows and present other supporting guidance to explain the proposed solution.
          %li "We guide you drive support" where we help you pilot some of the recommendations.


= partial "includes/services-contact-form"
