---
layout: secure_and_protect_direction
title: Product Section Direction - Data Science
description: "The Data Science Section focuses on transforming data into useful insights and actions."
canonical_path: "/direction/data-science/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


<p align="center">
    <font size="+2">
        <b>The Data Science Section focuses on transforming data into useful insights and actions.</b>
    </font>
</p>

## Section Overview
The Data Science section is comprised of two stages:
- [ModelOps](../modelops) - enable GitLab to be used for machine learning and artificial intelligence use cases.
- [Anti-Abuse](../anti-abuse) - leverage GitLab usage behavior to produce automated actions that reduce risks from insider threats and increase stability of GitLab instances.

### Holistic Approach
The work of the Data Science section cuts across the entire Gitlab DevOps platform, from our reliance on features like source code management (SCM) and CI/CD to support machine learning (ML) and artificial intelligence (AI) workloads to how we enhance platform features with ML/AI to make them more intelligent and automated. The section is unique in that the value it creates slices horizontally across all other GitLab sections and stages, providing a holistic approach to data science use cases across the software development lifecycle.

Both ModelOps and Anti-abuse are components of GitLab's Data Science product strategy. ModelOps focuses on enabling Data Scientists to use GitLab effectively. Anti-Abuse will use Data Science techniques to build a user activity data system and automation to protect GitLab from abuse and misuse. Initially, Anti-abuse's work is focused on [stabilizing GitLab from abuse](../anti-abuse/instance_resiliency), but it will also build new revenue-generating products related to [Insider Threat detection and UEBA](../anti-abuse/insider_threat) tooling, both of which will rely on data science techniques.

This section aligns cross-functional teams and organizational structures across Product, Engineering, UX, and technical writing teams. This streamlines the management chain of all individuals across functions as well as aligns unique product development areas of focus and challenges. Both the ModelOps and Anti-Abuse stages share some unique properties that other Gitlab sections/stages do not:

- Unlike our vertical groups and stages, both ModelOps and Anti-abuse horizontally cross all other stages and sections at GitLab. Both stages will interact with features across the platform and the data that underlies those features in order to provide their core value. 
- A key focus on consuming and leveraging product usage data to provide customer value. That data spans the entire platform and includes user activity and repository metadata. This will be used by the Applied ML group to enrich GitLab features to make them more intelligent and automated. Anti-Abuse will use this data to protect the platform and offer insider threat detection capabilities to customers.
- Automation and Action are key tenets for these product areas. Smart defaults will enable customers to discover new features, recommendations will surface features across the platform based on usage heuristics, and automations will reduce the overhead of managing and operating a GitLab instance.
- Wide surface area. Both stages require 'T'-shaped knowledge that is both broad across all GitLab features, but also deep in the specific knowledge areas of data science and anti-abuse.


<p align="center">
    <i><br>
      Last Reviewed: 2022-08-24<br>
      Last Updated: 2022-08-24
    </i>
</p>
