---
layout: handbook-page-toc
title: "GitLab Onboarding Processes"
description: "A Guide for the People Connect team to get new team members onboarded."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc}

# Onboarding Processes

## Overview
This page is a guide for People Connect team members when onboarding new team members. All onboarding tasks and guidelines for new team members, People Connect, and Managers are in the [People Connect Onboarding Issue](https://gitlab.com/gitlab-com/people-group/people-operations/employment-templates/-/blob/main/.gitlab/issue_templates/onboarding.md). Each onboarding issue is structured with tasks for all team members (day 1 to day 5 and then week 2 to week 4) and below those task sections are listed department-specific and/or role-specific tasks.  In some cases, specific tasks may link to supplemental issues, created by specific teams, with in-depth training.
In case this is a re-hire ping the ITOps team in the #it-help slack channel to ensure there are no blockers, before creating an onboarding issue or any accounts to avoid the re-hire from having system related issues on day 1.

### Timing

When a team member is hired in Greenhouse, the integration will move all data to Workday for the new hire record. This data is pulled from the [Greenhouse <> BambooHR sync](/handbook/people-group/engineering/gh-bhr-sync/) once the Candidate Experience Specialist team updates the team member to `hired`. 

The People Connect team will get a notification to review the data from the sync (check that everything is correct) and then approve the record in Workday. Once approved, the new hire record will be created. The People Connect team member in the rotation will add the new hire record to the People Connect tracker for allocation. The respective Associate assigned to the new hire will then complete the onboarding for the new hire in Workday.

In the event that a team member has already been synced and a new team members start date changes, it is **important** that the Candidate Experience Specialist team notifies the People Connect team via the private peopleops-alerts-private Slack channel in order to ensure the team member details are updated in the necessary systems (Onboarding issue, People Connect tracker, Workday, etc).

People Connect team members will create the onboarding issue, and start completing the onboarding tasks, no later than 2 weeks before the new team member joins. People Connect team members require a minimum of 4 business days (with the new hire timezone as the basis) before the new hire's start date to complete all onboarding tasks. To ensure we create a smooth onboarding experience for new team members, provide enough time for the IT Ops team for laptop orders, and completing the I-9 process (for US-base hires) 4 days is the minimum amount of time needed. Should a contract not be signed prior to 4 working days from the start date, a new start date will be required.

If any changes or updates need to be made to the onboarding template, kindly notify team members of the People Connect team by ccing them in the MR with the `@gl-people-exp` handle. Also notify other teams if a change will impact them.

All new hires will receive invitational access to their GitLab email, GitLab accounts, and any other work-related accounts on Day 1. No access is permitted before Day 1.

### Issue Organization
Labels Associated with Onboarding Issues

- **PE: Pre Start - Complete**
    - This label would be used when all of the Pre-Start Date Tasks have been completed.
- **PE: Day 1 - Complete**
    - This label would be used when all of the People Connect task for Day 1 have been completed.
- **PE: Pending - Day 1**
  - This label is used when the Day 1 task cannot be completed by the People Connect Team.
- **PE: Pending - Pre Start**
    - This label would be used when the People Connect team needs to complete the steps prior to Day 1.
- **Encryption - Missing**
  - This will be added by the People Connect team manually if a new team member is expected to receieve a Linux computer in order to ensure the encryption is completed for Security compliance.
- **Encryption - Complete**
  - This will be added by the team member or the People Connect team once all of the security tasks for encryption have been completed (applicable to Linux computers only).

- **Manager - Pre Start Pending**

- This will be automatically added as a prompt for manager to complete their pre start tasks

- **Manager: Pre Start Complete**
  - This is used when the new team members manager has completed all of the `Before Starting at GitLab` Manager Tasks.
- **MGR: Day 1 Complete**
  - This is used when the new team members manager has completed all of the `Accounts and Access` Day 1 - Manager Tasks.
- **MGR - Day 1 - Pending
**
  - A manager can add this if they are working on a new team members profile but cannot complete all of the tasks. Also an indication on when no action has been taken on day 1 tasks for managers.


### Alerts & Announcements
At 14:00 UTC every Wednesday, the `PeopleOps Bot` slack bot will send an alert in the `#peopleops-alerts-private` channel listing any data missing (if applicable) from the Workday profiles of team members joining the following week. The People Connect team will fill in these missing details as soon as possible since completeness and accuracy of Workday profiles is necessary for all automations.


## Pre-Onboarding

### Converting from Consultant to Full Time Team Member

In some cases, consultants will be hired with GitLab and converted to full time team members. If this is the case, the following should take place:

- People Connect team member should reach out to the manager in the onboarding issue once created to advise them that they need to complete an offboarding access request for the consultant as per this [process](https://about.gitlab.com/handbook/business-technology/team-member-enablement/onboarding-access-requests/temporary-service-providers/#offboarding). The manager is responsible for reaching out to the IT Ops team to get it actioned.
- The People Connect team member should also send a message to the manager in the issue to see whether a laptop has been sent to the team member, as well as that the team member will need to split focus between carrying on role based tasks and completing the onboarding issue.  

### Pre-Onboarding, US
- **I-9 and E-Verify**<a name="I-9"></a>

For all GitLab Inc. and GitLab Federal LLC US-based employees, GitLab complies with all USCIS requirements and laws, including the I-9 and E-Verify process. GitLab uses an online I-9 portal called LawLogix where the process is completed and documents are saved electronically and securely.

#### Timing of I-9

GitLab requests that team members complete the I-9 process at least two business days prior to their start date. Please note the `two business days prior to the new hire's start date` timeline pertains to GitLab's internal policy, not USCIS legal requirements. GitLab requires the process to be completed earlier than USCIS to ensure there is no delay in adding the new team member to payroll and other important systems.

If a GitLab team member has not completed Section 1 by end of day on their first day of work (their start date), all access is paused. Their Google Workspace is Suspended, as well as their Okta account, as well as their 1Password account and Slack account if these have been created. Access will be resumed as soon as Section 1 is completed.

If a GitLab team member has completed Section 1 but their Designated Agent has not completed Section 2 by the end of day of the team members' third day of work (within 3 business days after start date), all access is paused. Their Google Workspace is Suspended, as well as their Okta account, as well as their 1Password account and Slack account. Access will be resumed as soon as Section 2 is completed.


_Note: You can reference what are considered to be “Acceptable Documents” [here](https://www.uscis.gov/i-9-central/acceptable-documents/acceptable-documents)._

#### Procedure

1. There is currently a [sync](https://about.gitlab.com/handbook/people-group/engineering/miscellaneous/#team-members-to-lawlogix-i9) between Workday and LawLogix in place where a team member will automatically be added to LawLogix 7 days before their start date.

##### LawLogix Alerts

- When the sync takes place from BambooHR to LawLogix, the People Connect team will receive a log report via email. It is important to check that the sync says `Successful`. If it reports that there is an error, the People Connect team member will need to troubleshoot by completing the following steps:

1. Log into LawLogix
1. Click on your name on the top right hand side 
1. Select `Administration`
1. Click on `Integrations` from the panel on the left hand side 
1. Click on the last page arrow at the bottom of the page 
1. Click on `Log`
1. This will now reflect the error reason for the sync failure 
1. Correct the error and run the sync/upload for the relevant team member via Workday integrations. 

Most common reasons for failure:

- There is a special character in the team members name that is not supported by LawLogix - simply log into Workday, fix the character and run the sync/upload to LawLogix integration from within Workday. 
- There is a duplicate team member - check for rehires or whether there was a possible start date change.
- If you are unable to identify the reason for the error, submit a Support case to LawLogix via the `Help` > `Make support request` option on the main dashboard. 

1. **Section 1** → Employee personal details. New team members fill out this section online personally.
1. **Section 2** → Employee assigns a “Designated Agent” to view, verify and document their government-issued official document(s). The Designated Agent completes this section online personally, but with the new team member and their documents physically in hand next to the Designated Agent.

**If a team member is synced from Greenhouse to BambooHR less than 7 days prior to their start date, we will manually need to run the sync from Workday to LawLogix.

##### Steps to run the LawLogix integration in Workday:


- Log into Workday
- In search bar, type LawLogix > enter
- Scroll a further down and click on `More Categories` > `Integrations`
- Next will list the 4 different types of integration options (depending on what is needed) > click on the twinkie next to the relevant integration you would like to launch > `Integration` > `Launch / Schedule`
- Click okay on the pop up box
- When prompted to the next page, insert the team members employee ID in the `Value` field
- Click okay > the sync is now taking place
- Proceed to click on the `Refresh` option > this will show how far the upload is, when complete it should show as `Status: Completed`
- If needed, you can click on the `Output Files` tab to see the file that has been uploaded to LawLogix

#### Sending of Employee Instructions

**All of the below is done automatically with the sync.** Action using the steps below is only needed when there is an error with the sync.

In the event that the automation fails, the **People Connect team member** can run the integration manually via the Integrations category in Workday. This will then automatically add the new team member to LawLogix.

The **People Connect team member** will complete the following steps in LawLogix:

1. Open Dashboard and locate the team members name.
1. Click on the team members name.
1. Then select the I-9 Forms tab
1. Click on the * next to `Electronic I-9`
1. Select who will be the responsible party (People Connect team member)
1. Select `Review Employee Instructions`
1. Select insert the team members personal email and address and the select `Send or Edit Email`
1. Select `Send Email`
   - All email templates are [located here](https://gitlab.com/gitlab-com/people-group/General/-/tree/master/.gitlab/email_templates)

#### Designated Agent Section

Once the team member has selected a designated agent and inserted the required information in the `GitLab I-9 Process - Designated Agent Info` google form, the People Connect team member will log into LawLogix portal and follow the steps below:

1. Click on the team members name
1. Select the I-9 Forms tab
1. Click on the * next to `Electronic I-9`
1. Select `Review Agent Instructions`
1. Insert the designated agents email address in the To: field (as provided in the Google Form)
1. Select `Send or Edit Email`
1. Select `Send Email`

The new hire will complete section 1 of the I-9 and upload documents (optional at this step).

 - **Note**: LawLogix does not detect spelling errors, this will need to be reviewed by the People Connect.

#### Approving the I9

[Helpful Guide](http://uploads.lawlogix.com/Training_I9/Tutorials/Remote_Hire_with_Agent.pdf) Slide 94 for Approving I-9

1. The new hire's name will show up on the dashboard under "I-9 needs approval"
1. Click on the `Date I-9 Created` Date (Not the name of the I-9)
    1. Review the I-9
    1. Open the Uploaded Documents
           - Review the I-9 to check for mistakes, as well as compare to any uploaded supporting documents by clicking the PDF icons. Editing is locked after it has been approved.
    1. If you find any error or issues following the steps [here](http://uploads.lawlogix.com/Training_I9/Tutorials/Edit_I9.pdf) to edit the I-9.
1. Click `Mark Approved` on the right side of the page
1. Select E-Verify Approval
1. Mark Approve
  - Review the Documents and Review Section 1 and 2 for errors
  - Delete any unnecessary documents uploaded by new hire or designated agent
1. Approve this I9 - This will now be pushed to E-Verify

#### E-Verify Photo Matching

[Guide](http://uploads.lawlogix.com/Training_I9/Tutorials/EV_Photo.pdf)

1. Once an I-9 has been approved and submitted to E-Verify, if Photo-Matching is required a new tab will apPeople Connectr - `Manual Processing`.
1. The photo returned by E-Verify will be displayed on the Manual Processing Tab.
1. Documents previously uploaded are available for review. Click on the appropriate link to compare the document to the image returned by E-Verify. (IE US Passport ID Page).
1. Compare the photos.
1. Select the appropriate response.
1. If the photos match you should receive an `Employment Authorized` result within 30 seconds.
1. Save the E-Verify PDF breakdown and upload to Workday to the team members profile under the `Verification` category, along with the documents used to confirm identity within the process.
1. Once the I-9 has been completed and saved to the team members profile, check if their their New Hire details are complete in Workday (SSN, address, and date of birth) and then update their [Benefit Group](https://docs.google.com/document/d/1MuRjPnvK9PZI2kk58jHnMgC3iUQCzp7xdjsfQpJT37k/edit) within Workday. If the New Hire Details are missing, remind the team member to fill this out as soon as possible. Do not update the Benefit Group if the SSN is missing, as the entire file feed will break with missing SSN details.

#### Team member is no longer joining but I-9 process has started

In the event that a team member notifies us that they will no longer be joining GitLab but the I-9 initial email has been sent, the People Connect team will need to manually `terminate` the team member from LawLogix.

1. Click on the date of the I-9 for the team member.
1. Check that Section 1 has not yet been completed.
1. Select `Employee Details`
1. Click on `Terminate Employee`
1. Confirm the warning message that apPeople Connectrs.
1. Refresh the dashboard and the team member should no longer be listed.

#### Citizenship Confirmation

For certain systems and applications, it is required for Administrators to confirm that team members are US Citizens to be given access to these systems.

1. Administrators can email `people-connect@gitlab.com` and ask for confirmation that a team member is a US Citizen.
1. Any People Connect team member can look in the Documents folder in Workday for the specific team member, as that is where the Government IDs are housed.
1. If the team member has an unexpired US Passport, the People Connect may reply: "We can confirm that we have visual proof that this team member possesses an unexpired US Passport, a document only given to US Citizens, therefore they are a US Citizen."
1. If the team member has an expired US Passport, the People Connect may reply: "We can confirm that we have visual proof that this team member possesses an expired US Passport. We will reach out to the team member for visual confirmation of an unexpired US Passport." Then, the People Connect will reach out to the team member to gather the scan/image of an unexpired US Passport and then update the email thread.
1. If the team member has a US Birth Certificate, the People Connect may reply: "We can confirm that we have visual proof that this team member possesses a US Birth Certificate, a document only given to US Citizens, therefore they are a US Citizen."
1. If the team member only has documents other than a US Passport or Birth Certificate, the People Connect may reply: "The following team member only provided documents such as a Driver's License and Social Security Card (for example). Since these are available to non-citizens we cannot confirm their US citizenship." Then, the People Connect will reach out to the team member to gather a scan/image of either an unexpired US Passport or Birth Certificate and update the email thread.
1. If the team member has a Permanent Resident Card, the People Connect may reply: "I can confirm the team member has an unexpired permanent resident card. Is this acceptable for your system?"
    - Note: This document is not sufficient for SalesForce

### Pre-Onboarding, Japan
The People Connect team will send two payroll forms for the new team member to complete. This enables our payroll provider to help with the Health Insurance registration.

1. At **least two weeks** before the team members start date, the People Connect will send both forms listed below to the team member to complete using the [Japan email](https://gitlab.com/gitlab-com/people-group/people-operations/employment-templates/-/tree/master/email_templates/Japan_email.md).
- [Employee Registration Form](https://docs.google.com/spreadsheets/d/1JilpntlWfBpi_7q6Ofz4P2R9EDGeIo8C/edit#gid=1243702652)
- [Application for change in exemption for dependents of employment income earner](https://drive.google.com/drive/u/0/folders/1zQ0aYTeor59dszMfYH4j7D4a3OB8Z9_Q)
1. To complete the forms the People Connect will
- Employee Regisration Form: Select make a copy and save in team members name. Use the hire date as the effective date
- Application for change in exemption for dependents: Download and email the form to the team members personal email address to complete.
- Be sure to use the hire date as the effective date
1. The People Connect will be sure to cc `nonuspayroll@gitlab.com` in the email sent to the team member so that they can see action has been taken
1. Once both forms are completed, the People Connect will save in BambooHR in the Payroll Folder

### Pre-Onboarding, Germany
The People Connect team will send a sheet for the new team member to complete payroll forms. This enables our payroll provider to set up everything in anticipation of the team member starting. 

1. Send the new team member the [GTL008_Monthly_LPI_Template_Germany](https://docs.google.com/spreadsheets/d/1gBVDpk_mk2iGyfcrLEEhfUGtoMzDC3tb/edit#gid=1185395756) form before the start date. Remember to make a copy and save it in the team members name. Share this file with the `@nonuspayroll@gitlab.com` to have access. 


### Pre-Onboarding, South Korea

The People Connect team will send a sheet for the new team member to complete payroll forms located in the [onboarding docs folder](https://drive.google.com/drive/folders/1zQ0aYTeor59dszMfYH4j7D4a3OB8Z9_Q). This enables our payroll provider to set up everything in anticipation of the team member starting. 

### Pre-Onboarding, UK
The People Connect team will submit the new hire to the Papaya Global payroll portal at least one week before the start date. This will then trigger an automation with Papaya, including reaching out to the team member/new hire.

Once the team member has started, the People Connect team member assigned to the respective new team members onboarding will download the P45 and/or New Starter Checklist from the Papaya [portal](https://gitlab.papayaglobal.com/backoffice/org/1826/dashboard) (select GitLab UK > search for new team member > click on documents section) and upload the documents to BambooHR > Documents > Payroll folder.

### Changing a Start Date
The People Connect team should be notified of a start date change through a message in the peopleops-alerts-private Slack channel. Once we receive the notification, the People Connect team member needs to update all the dates to the new start date in Workday and follow the below steps:

- Search for the relevant team members
- Navigate to `View Worker History`
- Find the `Hire History` entry > click on the twinkie > select `Business Process` > `Correct`
- Insert the new hire date
- Super important: be sure to leave a clear comment on what the change is being made
- If any errors apPeople Connectr, it is because other sections need to be updated prior to updating the new hire record (example: probation period entry, one time payment) - these will need to be corrected before the new hire record can be changed

## Pre-Onboarding Issue Creation Tasks

The People Connect team member will create the Google Mail account first.

#### **Google Mail Account Creation**<a name="Google"></a>

1. People Connect team members create email addresses for new team members using the convention of `firstinitiallastname@gitlab.com`.
- Review common naming customs for the team member region. If the team member is from a [LATAM country](https://en.wikipedia.org/wiki/Naming_customs_of_Hispanic_America), ensure the email address is aligned with the team members preferred first name and last name(s).
1. To make sure that we create the GitLab Google Mail account according to the new team member's preferred first and last name, we first look at the team member's resume & relevant communications to find their preferred name.
1. Before creating the email account, verify that the proposed email is not conflicting with a current account by searching in Google Workspace Admin. If it is, add a letter for their middle name or ask the team member for their choice in preferred letter addition to their email address. After confirming, check the email again within the Google Workspace Admin. **Please note that you will not be creating the email address in Google Workspace Admin**.
1. Add the email address to the Workday profile under work email, as well as adding the work email address to BambooHR. The Okta and Workday sync will then create the email address automatically in Google Workspace.

Examples:
  * If a team member's legal name is "Joseph D. Doe" but their application and emails are signed "Joe Doe", then we create the GitLab email as Joe Doe, `jdoe@gitlab.com`.
  * If a team member's legal name is "Nina Fernandez Kola" but their resume and emails are signed "Nina Fernandez", then we communicate with the team member in advance and create the GitLab email as `nfernandez@gitlab.com` with confirmation from them that is their preferred name.
  * If a team member's legal name is "Li Ju Zhang" but their resume and emails are signed "Joanna Zhang", then we communicate with the team member in advance and create the GitLab email as `jzhang@gitlab.com` with confirmation from them that is their preferred name.

#### **Workday Profile Data**

As part of the [Greenhouse<>Workday automation](https://about.gitlab.com/handbook/people-group/engineering/gh-bhr-sync/), certain fields in Workday are [pre-filled](https://about.gitlab.com/handbook/people-group/engineering/gh-bhr-sync/#synced-fields). The People Connect team member will check all synced fields have been populated correctly.

The People Connect team member in the relevant rotation will complete the [pre onboarding audit](https://about.gitlab.com/handbook/people-group/people-connecterience-team/#part-1) to ensure all fields are correct prior to approving. Once approved, the team member will fully sync as a new hire.

#### Hire Date Changes

- If a new team member needs to adjust their start date but a new contract is not created, the People Connect team will:
1. Have the Candidate Experience Specialist team complete the following [steps](/handbook/hiring/talent-acquisition-framework/ces-contract-processes/#how-to-update-a-start-date-after-the-contract-is-signed).
1. Update the **Hire Date** in Workday (please see job aid)
1. Update the **Hire Date** in BambooHR (this includes all effectives dates in every table, not just the hire date field)
1. Update the onboarding issue (if already opened created)
1. Ensure the email with the updated start date is filed under the Contracts and Changes folder in Workday

- If a new team member start date falls on a global holiday where the entire People Connect team is offline, a holiday that is observed by the new hire or a Family & Friends Day:
1. The People Connect team member will coordinate with the Candidate Experience Specialist to adjust the start date to the next business day. Ensure the Hiring Manager is included in this communication.
1. The Workday, BambooHR, and Onboarding Issue (if applicable) hire date all need to be updated. 

#### New team member rejects offer

If a new team member has already been marked as hired in Greenhouse and the sync has taken place, then they reject our offer, the Candidate Experience team will notify the People Connect team in the peopleops-alerts-private Slack channel.
1. The People Connect team member will then need to log into Workday and complete the following:
   - Have to rescind the candidate profile
   - Then mark the pre-hire record for deletion
   - Then lastly delete the pre-hire record
1. Reach out to VP, People Operations, Technology & Analytics and request that the BambooHR profile is deleted - confirm once completed

1. If the deleted team member was located in the US, review and delete the relevant I-9 entry for them in LawLogix as per the deletion [process](https://about.gitlab.com/handbook/people-group/general-onboarding/onboarding-processes/#team-member-is-no-longer-joining-but-i-9-process-has-started).

#### Workday Profile
Once the sync has taken place and part 1 of the onboarding audit has been completed, the People Connect team member assigning to the onboarding will need to ensure the following:

- Add work email address to the team members profile
- Add BambooHR ID to Workday profile
- If the team member is employed in a [location](https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/data/entity_mapper.yml) that has a probation period, this needs to be manually added 
- See whether there is a signing bonus and that it has been correctly synced to one time payments
- Complete the onboarding steps from within Workday for the new team member

#### PIAA

The People Connect team member assigned to a specific new team member needs to check the contract for the PIAA section to see whether anything has been noted. If yes, the People Connect team member will need to follow the steps below:

- The People Connect team member sends an email to the team member's direct manager for approval. In the email, the People Connect team member will include the information that is listed under the PIAA section of the contract and the next steps needed for approval, ie after approval adding their manager/director to the email thread for approval.
- The manager will ask any necessary clarifying questions. Once the manager is comfortable providing written approval, they will then add the applicable Director-level leader to the thread, for their review and approval.
- If the Director feels additional review and approval is needed, the Director will add the next level (VP or C-level as appropriate) to the email thread. If not, the Director will respond indicating their approval.
_Note: A minimum of direct manager and Director-level approval is required for all PIAA exceptions._
- The People Connect team member will respond to the thread stating that they have saved the entire thread to the team member's BambooHR profile.
- The People Connect team member will need to save this to the team members Documents folder in Workday.
- More complicated requests that seem to show conflicts or projects involving a 1099 might require additional legal approval which will be coordinated by the Team Member Relations Specialists (teammemberrelations@gitlab.com), who may forward the thread to the Functional Leader, or both. Legal may also be added to conversation as needed.
  - Once there is a final conclusion, the manager will relay the information to the team member.
  - The manager will then need to forward the email thread to the People Connect team member who will save the entire thread as a pdf and filed in the team member's Workday record in their respective Documents folder.


  1. The People Connect team member will respond to the thread stating that they have saved the entire thread to the team member's Workday profile.
  1. The People Connect team member will need to save this to the team members documents folder in Workday. 
  1. More complicated requests that seem to show conflicts or projects involving a 1099 might require additional legal approval which will be coordinated by the Team Member Relations Specialists (teammemberrelations@gitlab.com), who may forward the thread to the Functional Leader, or both. Legal may also be added to conversation as needed.
  1. Once there is a final conclusion, the manager will relay the information to the team member. 
  1. The manager will then need to forward the email thread to the People Connect team member who will save the entire thread as a pdf and file in the team member's Workday documents folder.

   * Enter No if the team member answered No or None.





During the onboarding audit process, the People Connect team member will ensure that the **Pay Frequency** should be filled in according to this table:
  <%= partial "includes/people-operations/pay_frequencies" %>

















## Onboarding Issue Creation
The People Connect team member will then create an onboarding issue with a ChatOps command in Slack 2 weeks prior to the new team member's start date.

1. Before creating the onboarding issue, ensure that all information entered Workday is accurate and complete.
1. In Slack, go to your profile as if you were going to send a Slack message to yourself. Type the command `/pops run onboarding Employee ID #. This number is found in the team member's Workday profile > Personal > ID's. If the integation is down, this ChatOps command will fail and in some instances the onboarding issue will need to be created manually.
1. You will be pinged in Slack once the onboarding issue is created, which usually takes 30 seconds or so. The ping will include a link to the new onboarding issue.
1. Check and update if applicable the Name from Legal to Preferred name.
1. If the new team member is on the executive team, or if the new team member reports to a member of the executive team, please also assign the issue to the appropriate Executive Business Administrator(https://about.gitlab.com/handbook/eba/).

1. If the manager is not automatically assigned and listed in the issue, add them. It could be because the employee's manager uses a name in GitLab that is very different from the one in Workday, and they don't use their `@gitlab.com` email ID as the primary email ID in GitLab. They will then manually need to be assigned.
1. Copy and paste the link into the People Connect Task Tracker sheet in the team member's specific column on their line. Please note that this document is only viewable to the People Connect Teams due to personal information.
1. Once the onboarding issue has been opened, the Employment Bot will ping the manager in the issue if no Baseline Entitlement Access Request exists. In the event that a manager pings the Bot/People Connect team member that one does exist (usually providing a link to the correct template), follow the steps below:
  1. is the role template title == the team member's role
  1. is the role template’s department folder == the team member's department
  1. is the role template specified on speciality level and == the team member's specility the same
  - Open the team members Workday profile and verify the above
  - If the Access Request template can be used for the specific team member, add the role to the [Shared Components file](https://gitlab.com/gitlab-com/team-member-epics/access-requests/-/blob/master/.gitlab/issue_templates/role_baseline_access_request_tasks/shared_components.yml)
  - Assign the merge request for the shared components file to IT OPs Manager to review and merge (ping in Slack if needed). Once merged, this will ensure that the template is created by day 2 (if merged before then)
1. If a Baseline Entitlement Access Request exists, this will be [automatically](https://about.gitlab.com/handbook/people-group/engineering/onboarding/#access-request-issue-creation) opened by the Bot on day 2. 
1. If you are part of the People Connect team, IT Ops team, new team members's manager or onboarding buddy please note there are additional steps to complete directly in the new hire's onboarding issue in the 'Before Starting at GitLab' section.







### People Connect Day 1 Onboarding Tasks

#### Verify Team Members Legal Name

Once you have seen the team member's legal ID (either through work eligibility confirmation or employee upload), please review the 3 Name fields (First Name(s), Middle Name(s), Last Name(s)) to ensure that the team member's full and complete legal name is shown in Workday. This is critical, specifically for US team members as this data (full and complete legal name) is needed for mandatory reporting completed by the People Compliance team. As a best practice, we ask that this is also completed for all team members globally. If a correction is needed please inform the new hire to update their Legal Name through Workday self-service. 

#### Onboarding Welcome Email

The new team member will automically receive a "Welcome to Onboarding" email. The People Connect team will be CCd on this process. More information about this email automation can be found [here](https://about.gitlab.com/handbook/people-group/engineering/onboarding/#onboarding-email). The team member will follow the instructions in the welcome email to access Okta and their GSuite account (this is no longer a manual process).

#### New Hire Swag Email

The "New Hire Swag" email is [automatically](https://about.gitlab.com/handbook/people-group/engineering/onboarding/#swag-email) sent to the new hire on their first day with GitLab, with people-connect @gitlab.com cc'ed in the email. The email will state that the team members need to access the [GitLab Swag Store](https://shop.gitlab.com/), choose goods and use the new hire discount code provided in the email at checkout. New hires must use their GitLab email at checkout.









#### Create Interview Training Issue

1. The Interview Training Issue will be created automatically one week after the team members start date. [Information about this automation](https://about.gitlab.com/handbook/people-group/engineering/employment-issues/#interview-training--becoming-a-manager).
2. This task is _only applicable for new team members that are people managers_.

#### Create Becoming a GitLab Manager Issue

1. The Becoming a Manager Issue will be created automatically one week after the team members start date. [Information about this automation](https://about.gitlab.com/handbook/people-group/engineering/employment-issues/#interview-training--becoming-a-manager).
2. This task is _only applicable for new team members that are people managers_.

## Compliance and Ownership
The People Connect team is responsible for monitoring and facilitating the completion of the onboarding issue.

People Connect team members will complete the following tasks.

### Timing

#### Before Start Date
2 Business Days Prior:
   - Check that manager has started their onboarding tasks.
      - If not, ping the manager in the issue.
   - Check that the Onboarding Buddy has started their tasks.
     - If not, ping the buddy or manager in the issue.

#### After Start Date
On Start Date
  - Check that the manager has completed the "Before Starting tasks".
    - If not, send a slack message to the manager.
  - Check that the buddy has completed the "Before Starting tasks".
    - If not, send a slack message to the manager.

After Day 1
  - Check that the team member has completed Day 1 Security tasks

After Day 3
  - Verify encryption has taken place (only applicable to Linux computers).
    - If missing, request the new team member complete the task as soon as possible.

After Week 1
  - Check that the new team member is progressing through the onboarding issue. Check in with the team member to ensure they are not stuck on any task.

## Onboarding Process for Rehires

In the event that a former team member is rehired with the company, they will still need to go through standard onboarding. There are different factors that need to be considered and actioned prior to the team member joining. For example, the team member will still need to complete all Security and Compliance pieces to ensure that as a company we are remaining compliant (Code of Business Conduct & Ethics, Security training, Employment Verification).

#### Candidate Experience Specialist Team

- Ensure that the team members Greenhouse profile is linked to their original profile to ensure that a duplicate Workday profile is not created.
- Notify the People Connect team as soon as possible that a former team member has been rehired in the private peopleops-alerts-private Slack channel.
- If the team member has not been synced with Workday, you may need to run a [Resync](https://about.gitlab.com/handbook/people-group/engineering/gh-bhr-sync/#missing-team-member)

#### People Connect team

- Check when the team member was offboarded previously. Open a new onboarding issue if the team member was offboarded more than 3 months ago, or open a customised onboarding issue if offboarding took place in the last 3 months.
  - If a custom onboarding issue is created, be sure to include the default onboarding template table as the employment automation relies on the information.
- Dependent upon the team members location, an employment verification may need to be commpleted (example: US team member needs to complete I-9 verification).
  - If an I9 is needed you will need to run a rehire sync with LawLogix if a previous I9 is present. If an I9 is not available then a new I9 will need to be created. This can be completed via Workday using the LawLogix integration > LawLogix rehire team member.
- Verify that the team members former email address is still available by searching in Google Workspace. Keep this email address the same as far as possible.
- Reactivate the team members previous Workday profile to avoid duplicates from being created, as well as update any new employment terms.
- Ensure new employment contract is uploaded to Workday
- Ping IT Ops once the onboarding issue has been created to ensure that no issues are experienced on the team members first day back with any previous systems.
- Notify Payroll and Total Rewards team in the onboarding issue on the team members first day in order to be added back to payroll and relevant systems. This should be done at the latest on day 3.

## Onboarding Process for Interns

Internships are utilized when we are sponsoring a specific program for students to earn credit to their school/university. Although the interns will not be official team members, onboarding is still required for security and compliance reasons. Once an intern is marked as hired in Greenhouse, the [automation](https://about.gitlab.com/handbook/people-group/engineering/gh-bhr-sync/) in place will sync the intern to Workday and the People Connect team will be notified via Slack alerts channel.

#### Creating the Onboarding Issue

We would follow the same onboarding issue creation [process](https://about.gitlab.com/handbook/people-group/engineering/employment-issues/#creation) when creating the issue for the Interns. The template has been edited to allow for additional tasks to be added for the interns.

#### I-9 Process

The standard I-9 [process](https://about.gitlab.com/handbook/people-group/general-onboarding/onboarding-processes/#procedure) will be implemented between Workday and LawLogix for **paid** interns.

- If an intern is in the US on a student visa, additional documentation is [required](https://www.uscis.gov/i-9-central/acceptable-documents/additional-documentation-requirements).
   - Passport
   - I94
   - I20 - this must be completed during the hiring process
     - In Section 2 of Form I-9, the designated agent should enter the foreign passport information in the first area and the I-94 information in the second area in the List A column. Enter the information from the Form I-20, which includes the Student and Exchange Visitor Information System (SEVIS) number and expiration date (i.e., the Form I-20 CPT employment authorization end date (Must match section 1 date), not the program end date) in the third area in the List A column.
   - In Section 2 of Form I-9, the designated agent should enter the foreign passport information in the first area and the I-94 information in the second area in the List A column. Enter the information from the Form I-20, which includes the Student and Exchange Visitor Information System (SEVIS) number and expiration date (i.e., the Form I-20 CPT employment authorization end date (Must match section 1 date), not the program end date) in the third area in the List A column.
   - **Unpaid interns are not required to complete an I-9.**
- If an intern is hired on for a full time position and there is a break in employment a re-verification (Section 3) will need to be completed.
- Once the internship has been completed, terminate the intern in the LawLogix system.
- **If an intern is hired on for a full time position and there is a break in employment a re-verification (Section 3) will need to be completed.**

#### Workday Profile

The Workday Profile will follow all of the same rules as a normal onboarding with these exceptions:

- Part-Time
- Overtime - `Non-Exempt`
- Interns do not have a probation period - no entries need to be created manually

## Offboarding Interns

If the intern is not offered full time employment with GitLab, the same [offboarding process](https://about.gitlab.com/handbook/people-group/engineering/employment-issues/#creation-1) will need to take place to ensure that access is deactivated and the intern is removed from all systems.

**Talent Acquisition or the CES team will notify the People Connect team via Slack when an intern is not offered full time employment with GitLab so that the offboarding can be scheduled at the date of the end of the intership agreement.**

## Onboarding Process for Interns converting to Hired Team Members

In some instances, the interns that have been onboarded may be hired on a full time basis after successfully completing their internship with GitLab. This lists the steps required from all the different stakeholders:

#### People Business Partner / Managers

- Check in on feedback with all hosting teams
- Performing performance/skills assessments with interns based on the Job Families and Competencies
- Sharing feedback with interns
- Aligning with Finance/Business on headcount/budget
- Making a decision on offers to interns
- If team member will be hired, notify Talent Acquisition team
- Communicating the offer/no offer to interns
- Awaiting final decision of interns
- Notify all stakeholders involved via email (including People Connect team)
- End of the internship program
- New start date for intern as full time team member

#### Recruitment

- Discuss any changes with the People Business Partner / Manager.
- Notify the Candidate Experience Specialist team to create and send contracts to the interns.

#### Candidate Experience Specialist

- Assist with creating the respective contracts for the interns that are offered full time employment with GitLab.
- Reconfirm with the People Connect team that the intern is transitioning to full time team member in the private Slack channel.

#### Total Rewards

As the interns already have entries in Workday, an update will be needed with the new employment terms.

- Update role to Individual Contributor.
- Employment status update from termination status to active.
- Locality is important to decide salary - need to be mindful of where the intern is located and where their final destination will be.
- Need to check on benefits when converted.
- Check that all employee statuses are correct (employment, pay, hire vs start date).

#### Payroll

- Check that the team member's info has been received from a payroll perspective.
- Verify employment details.
- Enroll the team member into any benefits for their location.

#### People Connect

- Create the customised Career Mobility issue 4 days prior to the start date.
- Assist with creating an offboarding issue (if applicable when there is a break between internship and hire date) and having accounts deactivated.
- Ensure all information in Workday is correct.

- Initiate the relevant payroll documents (I9, UK, Netherlands, etc) if applicable.

## Onboarding Temporary Service Providers to Team Members

#### Managers

- At least 2 weeks before the start date, the Manager will need to complete the [Temp Service Provider to Team Member](https://gitlab.com/gitlab-com/people-group/people-operations/employment-templates/-/blob/main/.gitlab/issue_templates/Temp%20Service%20Provider%20to%20Team%20Member.md) issue. This is to ensure that the IT team and the People Connect team can complete on Onboarding Issue, as well as ensure that systems get changed over correctly so that the team member does not lose access.

- In the issue, please ping the People Connect team `@gl-people-exp` to ensure the team is notified

#### People Connect

- Once the CES team has hired the team member in GreenHouse, and the Workday profile has been updated, please add in the GitLab email address to the [Temp Service Provider to Team Member](https://gitlab.com/gitlab-com/people-group/people-operations/employment-templates/-/blob/main/.gitlab/issue_templates/Temp%20Service%20Provider%20to%20Team%20Member.md) issue.

- Please be sure to ping the IT team in the issue with the email address.

#### IT Ops

- 24 hours before the start date of the team member, update the email address of the team member with the one in the Temp Service Provider to Team Member issue.

## Onboarding Core Team Members

Core team members are team member that are not employed by GitLab but are part of the wider GitLab community. These team members can be granted access to certain systems at request from the Community Relations team by creating the respective [Core Team Member Onboarding Issue](https://gitlab.com/gitlab-com/temporary-service-providers/lifecycle/-/blob/master/.gitlab/issue_templates/orientation_issue_core_member.md).

The Community Relations team will ping the People Connect team in the `#people-connect` Slack channel for assistance.

There are tasks within the issue that need to be completed by the People Connect team.
