---
layout: default
title: "GitLab Community Newsletter"
twitter_image: "/images/opengraph/Newsletter.png"
description: "Learn new skills, elevate your profile, collaborate with a growing community of open source contributors, and connect with the world’s greatest DevOps platform team."
suppress_header: true
canonical_path: "/community/newsletter/"
extra_css:
  - solutions2020.css
  - bl-modal.css
  - video-carousel.css
  - heroes-contributions.css
  - community.css
extra_js:
  - libs/slick.min.js
  - video-carousel.js
---

.header-content
  .newsletter-cta
    <iframe class="mj-w-res-iframe" align="center" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/6wMz/MC9" width="100%"></iframe>
    <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>
